LqsfA3umOrmWbwNK.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-04T13:09:56.000Z",
    "createdAt": "2026-04-04T13:09:52.793Z",
    "versionId": "401aad14-bc40-473a-8273-914bf918d1e6",
    "workflowId": "LqsfA3umOrmWbwNK",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          2016,
          -496
        ],
        "id": "46a9f0a8-cc56-4ddb-a81e-9cdd30c60fbe",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "jsCode": "const discordData = $('When Executed by Another Workflow').item.json;\n\n// Get total monthly income from Discord Input\nconst monthlyIncome = parseFloat(\n  discordData.body.data.options.find(o => o.name === 'amount_in_php')?.value\n);\n\nif (!monthlyIncome || isNaN(monthlyIncome)) {\n  throw new Error('Could not parse amount_in_php from Discord input.');\n}\n\n// Only ₱50,000 is declared as salary; the rest is allowance (not subject to contributions/tax)\nconst declaredSalary = 50000;\nconst allowance = Math.max(monthlyIncome - declaredSalary, 0);\n\n// SSS 2025/2026: 15% rate, MSC floor ₱5,000 ceiling ₱35,000 — based on declared salary\nconst msc = Math.min(Math.max(declaredSalary, 5000), 35000);\nconst sss = Math.round(msc * 0.15);\n\n// PhilHealth 2025/2026: 5% rate, floor ₱500 ceiling ₱5,000 — based on declared salary\nconst philhealth = Math.min(Math.max(declaredSalary * 0.05, 500), 5000);\n\n// Pag-IBIG: fixed ₱200 for income above ₱5,000\nconst pagibig = 200;\n\n// BIR Tax (TRAIN Law) — based on declared salary only\nconst annualDeclared = declaredSalary * 12;\n\n// 8% Flat Rate (₱250k deduction for self-employed/professionals)\nconst taxableAnnual8 = Math.max(annualDeclared - 250000, 0);\nconst monthlyTax8pct = (taxableAnnual8 * 0.08) / 12;\n\n// Graduated Rate (2023-2026 table)\nfunction graduatedTax(annual) {\n  if (annual <= 250000) return 0;\n  if (annual <= 400000) return (annual - 250000) * 0.15;\n  if (annual <= 800000) return 22500 + (annual - 400000) * 0.20;\n  if (annual <= 2000000) return 102500 + (annual - 800000) * 0.25;\n  if (annual <= 8000000) return 402500 + (annual - 2000000) * 0.30;\n  return 2202500 + (annual - 8000000) * 0.35;\n}\nconst monthlyTaxGrad = graduatedTax(annualDeclared) / 12;\n\n// Quarterly BIR set-aside (3 months)\nconst quarterlyTax8 = monthlyTax8pct * 3;\nconst quarterlyTaxGrad = monthlyTaxGrad * 3;\n\n// Take-home: total income minus contributions (computed on declared salary)\nconst takeHome8 = monthlyIncome - (sss + philhealth + pagibig + monthlyTax8pct);\nconst takeHomeGrad = monthlyIncome - (sss + philhealth + pagibig + monthlyTaxGrad);\n\nconst fmt = (n) => '₱' + Math.round(n).toLocaleString('en-PH');\n\nconst message = [\n  `👽 I have computed your government obligations, **${discordData.body.member.user.global_name}**! My alien tax algorithms are flawless.`,\n  ``,\n  `💰 **Total Monthly Income:** ${fmt(monthlyIncome)}`,\n  `> 📝 Declared Salary: ${fmt(declaredSalary)} | Allowance: ${fmt(allowance)}`,\n  `> *(Contributions & BIR tax are computed on declared salary only)*`,\n  ``,\n  `**📋 Monthly Government Contributions (on ${fmt(declaredSalary)} salary):**`,\n  `> 🔵 SSS: ${fmt(sss)} *(15% rate, MSC: ${fmt(msc)})*`,\n  `> 🟢 PhilHealth: ${fmt(philhealth)} *(5% rate)*`,\n  `> 🟡 Pag-IBIG: ${fmt(pagibig)}`,\n  ``,\n  `**🧾 BIR Income Tax (monthly set-aside):**`,\n  `> 8% Flat Rate: **${fmt(monthlyTax8pct)}** ← *simpler, recommended*`,\n  `> Graduated Rate: ${fmt(monthlyTaxGrad)}`,\n  ``,\n  `**🏠 Estimated Take-Home (from total income):**`,\n  `> If 8% flat: **${fmt(takeHome8)}**`,\n  `> If graduated: **${fmt(takeHomeGrad)}**`,\n  ``,\n  `**📅 Quarterly BIR Tax Reminder:**`,\n  `> BIR income tax is **not paid monthly** — you file and pay 4x a year.`,\n  `> 🗓️ Q1 Jan–Mar → due **May 15** | Q2 Apr–Jun → due **Aug 15** | Q3 Jul–Sep → due **Nov 15**`,\n  `> 🗓️ Annual ITR (1701A) → due **April 15** of the following year`,\n  `> 💸 Set aside per quarter → 8% flat: **${fmt(quarterlyTax8)}** | Graduated: ${fmt(quarterlyTaxGrad)}`,\n  `> *(Each quarter you pay based on your cumulative income so far that year, minus prior payments)*`,\n  ``,\n  `⚠️ *SSS max MSC is ₱35,000 for 2025–2026. Confirm salary/allowance arrangement with your employer.*`,\n  ``,\n  `💡 *Use /log_tax to record this computation to the spreadsheet.*`\n].join('\\n');\n\nreturn [{\n  json: {\n    message,\n    token: discordData.body.token,\n    applicationId: discordData.body.application_id\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2288,
          -496
        ],
        "id": "a6a4f880-67ce-4e87-962b-5d597d25820b",
        "name": "Compute Tax"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "token-check-storm-001",
                "leftValue": "={{ $('Compute Tax').item.json.token }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2528,
          -496
        ],
        "id": "05864956-b092-480d-97a9-9de505ba3f2d",
        "name": "Has Interaction Token?"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://discord.com/api/v10/webhooks/{{ $('Compute Tax').item.json.applicationId }}/{{ $('Compute Tax').item.json.token }}/messages/@original",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ content: $('Compute Tax').item.json.message }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2768,
          -496
        ],
        "id": "53e48c49-66ae-43d5-9cf0-f8752e32720c",
        "name": "Send Discord Follow-up"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Compute Tax",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compute Tax": {
        "main": [
          [
            {
              "node": "Has Interaction Token?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Interaction Token?": {
        "main": [
          [
            {
              "node": "Send Discord Follow-up",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Andrea Baulita",
    "name": "Version 401aad14",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "401aad14-bc40-473a-8273-914bf918d1e6",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Compute Tax",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Tax": {
      "main": [
        [
          {
            "node": "Has Interaction Token?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Interaction Token?": {
      "main": [
        [
          {
            "node": "Send Discord Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-31T09:17:18.874Z",
  "id": "LqsfA3umOrmWbwNK",
  "isArchived": false,
  "meta": null,
  "name": "Okarun - Tax Computation",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        2016,
        -496
      ],
      "id": "46a9f0a8-cc56-4ddb-a81e-9cdd30c60fbe",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const discordData = $('When Executed by Another Workflow').item.json;\n\n// Get total monthly income from Discord Input\nconst monthlyIncome = parseFloat(\n  discordData.body.data.options.find(o => o.name === 'amount_in_php')?.value\n);\n\nif (!monthlyIncome || isNaN(monthlyIncome)) {\n  throw new Error('Could not parse amount_in_php from Discord input.');\n}\n\n// Only ₱50,000 is declared as salary; the rest is allowance (not subject to contributions/tax)\nconst declaredSalary = 50000;\nconst allowance = Math.max(monthlyIncome - declaredSalary, 0);\n\n// SSS 2025/2026: 15% rate, MSC floor ₱5,000 ceiling ₱35,000 — based on declared salary\nconst msc = Math.min(Math.max(declaredSalary, 5000), 35000);\nconst sss = Math.round(msc * 0.15);\n\n// PhilHealth 2025/2026: 5% rate, floor ₱500 ceiling ₱5,000 — based on declared salary\nconst philhealth = Math.min(Math.max(declaredSalary * 0.05, 500), 5000);\n\n// Pag-IBIG: fixed ₱200 for income above ₱5,000\nconst pagibig = 200;\n\n// BIR Tax (TRAIN Law) — based on declared salary only\nconst annualDeclared = declaredSalary * 12;\n\n// 8% Flat Rate (₱250k deduction for self-employed/professionals)\nconst taxableAnnual8 = Math.max(annualDeclared - 250000, 0);\nconst monthlyTax8pct = (taxableAnnual8 * 0.08) / 12;\n\n// Graduated Rate (2023-2026 table)\nfunction graduatedTax(annual) {\n  if (annual <= 250000) return 0;\n  if (annual <= 400000) return (annual - 250000) * 0.15;\n  if (annual <= 800000) return 22500 + (annual - 400000) * 0.20;\n  if (annual <= 2000000) return 102500 + (annual - 800000) * 0.25;\n  if (annual <= 8000000) return 402500 + (annual - 2000000) * 0.30;\n  return 2202500 + (annual - 8000000) * 0.35;\n}\nconst monthlyTaxGrad = graduatedTax(annualDeclared) / 12;\n\n// Quarterly BIR set-aside (3 months)\nconst quarterlyTax8 = monthlyTax8pct * 3;\nconst quarterlyTaxGrad = monthlyTaxGrad * 3;\n\n// Take-home: total income minus contributions (computed on declared salary)\nconst takeHome8 = monthlyIncome - (sss + philhealth + pagibig + monthlyTax8pct);\nconst takeHomeGrad = monthlyIncome - (sss + philhealth + pagibig + monthlyTaxGrad);\n\nconst fmt = (n) => '₱' + Math.round(n).toLocaleString('en-PH');\n\nconst message = [\n  `👽 I have computed your government obligations, **${discordData.body.member.user.global_name}**! My alien tax algorithms are flawless.`,\n  ``,\n  `💰 **Total Monthly Income:** ${fmt(monthlyIncome)}`,\n  `> 📝 Declared Salary: ${fmt(declaredSalary)} | Allowance: ${fmt(allowance)}`,\n  `> *(Contributions & BIR tax are computed on declared salary only)*`,\n  ``,\n  `**📋 Monthly Government Contributions (on ${fmt(declaredSalary)} salary):**`,\n  `> 🔵 SSS: ${fmt(sss)} *(15% rate, MSC: ${fmt(msc)})*`,\n  `> 🟢 PhilHealth: ${fmt(philhealth)} *(5% rate)*`,\n  `> 🟡 Pag-IBIG: ${fmt(pagibig)}`,\n  ``,\n  `**🧾 BIR Income Tax (monthly set-aside):**`,\n  `> 8% Flat Rate: **${fmt(monthlyTax8pct)}** ← *simpler, recommended*`,\n  `> Graduated Rate: ${fmt(monthlyTaxGrad)}`,\n  ``,\n  `**🏠 Estimated Take-Home (from total income):**`,\n  `> If 8% flat: **${fmt(takeHome8)}**`,\n  `> If graduated: **${fmt(takeHomeGrad)}**`,\n  ``,\n  `**📅 Quarterly BIR Tax Reminder:**`,\n  `> BIR income tax is **not paid monthly** — you file and pay 4x a year.`,\n  `> 🗓️ Q1 Jan–Mar → due **May 15** | Q2 Apr–Jun → due **Aug 15** | Q3 Jul–Sep → due **Nov 15**`,\n  `> 🗓️ Annual ITR (1701A) → due **April 15** of the following year`,\n  `> 💸 Set aside per quarter → 8% flat: **${fmt(quarterlyTax8)}** | Graduated: ${fmt(quarterlyTaxGrad)}`,\n  `> *(Each quarter you pay based on your cumulative income so far that year, minus prior payments)*`,\n  ``,\n  `⚠️ *SSS max MSC is ₱35,000 for 2025–2026. Confirm salary/allowance arrangement with your employer.*`,\n  ``,\n  `💡 *Use /log_tax to record this computation to the spreadsheet.*`\n].join('\\n');\n\nreturn [{\n  json: {\n    message,\n    token: discordData.body.token,\n    applicationId: discordData.body.application_id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        -496
      ],
      "id": "a6a4f880-67ce-4e87-962b-5d597d25820b",
      "name": "Compute Tax"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "token-check-storm-001",
              "leftValue": "={{ $('Compute Tax').item.json.token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2528,
        -496
      ],
      "id": "05864956-b092-480d-97a9-9de505ba3f2d",
      "name": "Has Interaction Token?"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://discord.com/api/v10/webhooks/{{ $('Compute Tax').item.json.applicationId }}/{{ $('Compute Tax').item.json.token }}/messages/@original",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $('Compute Tax').item.json.message }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2768,
        -496
      ],
      "id": "53e48c49-66ae-43d5-9cf0-f8752e32720c",
      "name": "Send Discord Follow-up"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "sanashii",
    "name": "n8n-backups"
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-03-31T09:17:18.884Z",
      "createdAt": "2026-03-31T09:17:18.884Z",
      "role": "workflow:owner",
      "workflowId": "LqsfA3umOrmWbwNK",
      "projectId": "9C1xKZgwyby4oLqC"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-04T13:11:34.201Z",
  "versionId": "401aad14-bc40-473a-8273-914bf918d1e6"
}