meAZ8jypHqpLZy7r.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-04T09:30:15.000Z",
    "createdAt": "2026-04-04T09:30:06.821Z",
    "versionId": "f393edad-c79d-497c-aede-d56290fd4c70",
    "workflowId": "meAZ8jypHqpLZy7r",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyX",
                "value": 15,
                "unit": "minutes"
              }
            ]
          },
          "filters": {}
        },
        "id": "f779ee41-0176-400f-896e-f37e770b9e61",
        "name": "Gmail Trigger",
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1,
        "position": [
          -240,
          -80
        ],
        "credentials": {
          "gmailOAuth2": {
            "id": "JbM8uVmbYBVPoc6F",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "cond-dw",
                "leftValue": "={{ $json.from }}",
                "rightValue": "digitalwalker",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              },
              {
                "id": "cond-pm",
                "leftValue": "={{ $json.from }}",
                "rightValue": "powermac",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "id": "46214a9b-83cf-4df4-9751-4237e1f8ed09",
        "name": "Is From Stock Alert Sender?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          32,
          -80
        ]
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "1488068132198420564",
            "mode": "list",
            "cachedResultName": "bau & thea",
            "cachedResultUrl": "https://discord.com/channels/1488068132198420564"
          },
          "channelId": {
            "__rl": true,
            "value": "1489919910678364190",
            "mode": "list",
            "cachedResultName": "macbook-pro-notification",
            "cachedResultUrl": "https://discord.com/channels/1488068132198420564/1489919910678364190"
          },
          "content": "W-WAIT!! 🚨\n\n**Okarun reporting from the field!!** I just intercepted a transmission from **{{ $json.from.split('<')[0].trim() }}** —\n\n📩 **{{ $json.subject }}**\n> {{ $json.snippet }}\n\n...This is NOT a drill. The MacBook Pro M5 Pro might be HERE. **GO CHECK YOUR EMAIL. NOW. MOVE!!** 🏃",
          "options": {}
        },
        "id": "6e213f14-7a5c-4ef2-a8b2-012255418b96",
        "name": "Discord — Gmail Stock Alert",
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          288,
          -160
        ],
        "webhookId": "964a527d-3220-4723-902d-195db28d1bdc",
        "credentials": {
          "discordBotApi": {
            "id": "QXXgqWlMdAoLfJM5",
            "name": "Okarun Discord Bot"
          }
        }
      }
    ],
    "connections": {
      "Gmail Trigger": {
        "main": [
          [
            {
              "node": "Is From Stock Alert Sender?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is From Stock Alert Sender?": {
        "main": [
          [
            {
              "node": "Discord — Gmail Stock Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Andrea Baulita",
    "name": "Version f393edad",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "f393edad-c79d-497c-aede-d56290fd4c70",
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Is From Stock Alert Sender?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is From Stock Alert Sender?": {
      "main": [
        [
          {
            "node": "Discord — Gmail Stock Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-04T09:28:21.498Z",
  "id": "meAZ8jypHqpLZy7r",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Okarun — MacBook M5 Pro Gmail Watch",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        },
        "filters": {}
      },
      "id": "f779ee41-0176-400f-896e-f37e770b9e61",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        -80
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "JbM8uVmbYBVPoc6F",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-dw",
              "leftValue": "={{ $json.from }}",
              "rightValue": "digitalwalker",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cond-pm",
              "leftValue": "={{ $json.from }}",
              "rightValue": "powermac",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "46214a9b-83cf-4df4-9751-4237e1f8ed09",
      "name": "Is From Stock Alert Sender?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        32,
        -80
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1488068132198420564",
          "mode": "list",
          "cachedResultName": "bau & thea",
          "cachedResultUrl": "https://discord.com/channels/1488068132198420564"
        },
        "channelId": {
          "__rl": true,
          "value": "1489919910678364190",
          "mode": "list",
          "cachedResultName": "macbook-pro-notification",
          "cachedResultUrl": "https://discord.com/channels/1488068132198420564/1489919910678364190"
        },
        "content": "W-WAIT!! 🚨\n\n**Okarun reporting from the field!!** I just intercepted a transmission from **{{ $json.from.split('<')[0].trim() }}** —\n\n📩 **{{ $json.subject }}**\n> {{ $json.snippet }}\n\n...This is NOT a drill. The MacBook Pro M5 Pro might be HERE. **GO CHECK YOUR EMAIL. NOW. MOVE!!** 🏃",
        "options": {}
      },
      "id": "6e213f14-7a5c-4ef2-a8b2-012255418b96",
      "name": "Discord — Gmail Stock Alert",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        288,
        -160
      ],
      "webhookId": "964a527d-3220-4723-902d-195db28d1bdc",
      "credentials": {
        "discordBotApi": {
          "id": "QXXgqWlMdAoLfJM5",
          "name": "Okarun Discord Bot"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "sanashii",
    "name": "n8n-backups"
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-04-04T09:28:21.503Z",
      "createdAt": "2026-04-04T09:28:21.503Z",
      "role": "workflow:owner",
      "workflowId": "meAZ8jypHqpLZy7r",
      "projectId": "9C1xKZgwyby4oLqC"
    }
  ],
  "staticData": {
    "node:Gmail Trigger": {
      "lastTimeChecked": 1775295015
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-04T13:11:20.217Z",
  "versionId": "f393edad-c79d-497c-aede-d56290fd4c70"
}