nOHgKq7QIohOO5fo.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Mentions MacBook or M5?": {
      "main": [
        [
          {
            "node": "Discord — FB Post Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Trigger - iStore": {
      "main": [
        [
          {
            "node": "Mentions MacBook or M5?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Trigger - Power Mac Center": {
      "main": [
        [
          {
            "node": "Mentions MacBook or M5?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-04T09:34:20.117Z",
  "id": "nOHgKq7QIohOO5fo",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Okarun — MacBook M5 Pro Facebook Watch",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-macbook",
              "leftValue": "={{ $json.title + ' ' + $json.content }}",
              "rightValue": "MacBook",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cond-m5",
              "leftValue": "={{ $json.title + ' ' + $json.content }}",
              "rightValue": "M5 Pro",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cond-mac-pro",
              "leftValue": "={{ $json.title + ' ' + $json.content }}",
              "rightValue": "Mac Pro",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "1f98e838-c0b7-4820-a060-944ff3b9b92e",
      "name": "Mentions MacBook or M5?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -256,
        80
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1488068132198420564",
          "mode": "list",
          "cachedResultName": "bau & thea",
          "cachedResultUrl": "https://discord.com/channels/1488068132198420564"
        },
        "channelId": {
          "__rl": true,
          "value": "1489919910678364190",
          "mode": "list",
          "cachedResultName": "macbook-pro-notification",
          "cachedResultUrl": "https://discord.com/channels/1488068132198420564/1489919910678364190"
        },
        "content": "=...Psst. 👁️ Okarun here.\n\n**Apple Philippines just posted something on Facebook** — and my sensors flagged it.\n\n📌 **{{ $json.title }}**\n🔗 {{ $json.link }}\n\nCould be nothing. Could be EVERYTHING. ...Go check it. I'll keep watching from here.",
        "options": {}
      },
      "id": "a72d625a-9729-465a-b586-05c560edceed",
      "name": "Discord — FB Post Alert",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "65a53e79-4889-4fee-a044-dbc82160ee14",
      "credentials": {
        "discordBotApi": {
          "id": "QXXgqWlMdAoLfJM5",
          "name": "Okarun Discord Bot"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://rss.app/feeds/S56vghcy71zZvuz5.xml"
      },
      "id": "c29ef750-6e93-48d9-bc10-4a08d9f687c4",
      "name": "RSS Feed Trigger - iStore",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -528,
        80
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://rss.app/feeds/csPhPPByHNvGI7LY.xml"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -528,
        -112
      ],
      "id": "672397a5-2b20-4bff-aa5b-44b4a97e80a9",
      "name": "RSS Feed Trigger - Power Mac Center"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "RSS Feed Trigger - Power Mac Center": [
      {
        "json": {
          "creator": "Power Mac Center",
          "title": "Take off with the all-new MacBook Air. Pre-order yours today for as low as P3,416.25/mo. for 24 months at select Power M...",
          "link": "https://www.facebook.com/powermaccenter/posts/pfbid0x8yu7WvHjBSffNeiLv4ww4z7HxzjetmvgRsu36jYjnykQPj8UoMhnr3P9NRYTUQKl",
          "pubDate": "Tue, 07 Apr 2026 07:43:36 GMT",
          "dc:creator": "Power Mac Center",
          "content": "<div><img src=\"https://scontent-lga3-2.xx.fbcdn.net/v/t39.30808-6/668339503_1344368577738124_8252312897745588086_n.jpg?stp=dst-jpg_p526x296_tt6&_nc_cat=100&ccb=1-7&_nc_sid=e289f2&_nc_ohc=Htf_RGKfG64Q7kNvwFeACq4&_nc_oc=Ado3JvLfwOkGXY1tMCCKF30YuH_jXI3XMwhv7r7aE1H5_FCghDL4Rh80HSoioHHiB84&_nc_zt=23&_nc_ht=scontent-lga3-2.xx&_nc_gid=CglXNHjx9z0G4xJgpDrmxQ&_nc_ss=7a389&oh=00_Af3dAA81WUoypJr84Uvn1XoiEo16o0mZka_jzXBfF6p13Q&oe=69DA77CD\" style=\"width: 100%;\" /><div>Take off with the all-new MacBook Air.<br> Pre-order yours today for as low as P3,416.25/mo. for 24 months at select Power Mac Center stores or via https://bit.ly/4seOroQ from April 7 to 12, 2026.<br> ● Greenbelt 3<br> ● SM City North EDSA (Annex)<br> ● TriNoma<br> ● Robinsons Magnolia<br> ● SM Megamall<br> ● Power Plant Mall<br> ● Bonifacio High Street<br> ● SM Mall of Asia<br> ● Festival Mall<br> ● SM City Iloilo<br> ● SM Lanang Premier<br> ● SM Aura Premier<br> ● Abreeza Mall<br> ● SM City Urdaneta Central<br> ● SM City Pampanga<br> ● SM City Clark<br> ● SM City Fairview<br> ● SM City Marikina<br> ● SM City Dasmariñas<br> ● SM City Lipa<br> ● SM City Batangas<br> ● SM City Legazpi<br> ● Robinsons Galleria Cebu<br> ● Robinsons Place Tacloban<br> ● Ayala Malls Capitol Central<br> ● SM Cagayan De Oro Downtown Premier<br> ● SM City Zamboanga</div></div>",
          "contentSnippet": "Take off with the all-new MacBook Air.\n Pre-order yours today for as low as P3,416.25/mo. for 24 months at select Power Mac Center stores or via https://bit.ly/4seOroQ from April 7 to 12, 2026.\n ● Greenbelt 3\n ● SM City North EDSA (Annex)\n ● TriNoma\n ● Robinsons Magnolia\n ● SM Megamall\n ● Power Plant Mall\n ● Bonifacio High Street\n ● SM Mall of Asia\n ● Festival Mall\n ● SM City Iloilo\n ● SM Lanang Premier\n ● SM Aura Premier\n ● Abreeza Mall\n ● SM City Urdaneta Central\n ● SM City Pampanga\n ● SM City Clark\n ● SM City Fairview\n ● SM City Marikina\n ● SM City Dasmariñas\n ● SM City Lipa\n ● SM City Batangas\n ● SM City Legazpi\n ● Robinsons Galleria Cebu\n ● Robinsons Place Tacloban\n ● Ayala Malls Capitol Central\n ● SM Cagayan De Oro Downtown Premier\n ● SM City Zamboanga",
          "guid": "33f36b0266becc33925b980dece49d41",
          "isoDate": "2026-04-07T07:43:36.000Z"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo": {
    "owner": "sanashii",
    "name": "n8n-backups"
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-04-04T09:34:20.121Z",
      "createdAt": "2026-04-04T09:34:20.121Z",
      "role": "workflow:owner",
      "workflowId": "nOHgKq7QIohOO5fo",
      "projectId": "9C1xKZgwyby4oLqC"
    }
  ],
  "staticData": {
    "node:RSS Feed Trigger": {
      "lastItemDate": "2026-03-30T11:00:06.000Z"
    },
    "node:RSS Feed Trigger - iStore": {
      "lastItemDate": "2026-04-07T11:00:33.000Z"
    },
    "node:RSS Feed Trigger - Power Mac Center": {
      "lastItemDate": "2026-04-07T09:00:57.000Z"
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2026-04-07T07:52:21.025Z",
  "versionId": "5473c01d-e17b-4049-9550-1e82182423f9"
}