Q2aH5FYTkA2CygOE.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-05T11:07:49.000Z",
    "createdAt": "2026-04-05T11:07:45.700Z",
    "versionId": "00dff869-50cf-4a3a-8279-a8f437b7ef89",
    "workflowId": "Q2aH5FYTkA2CygOE",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -480,
          144
        ],
        "id": "2a098208-b573-4448-b59d-ad45340b878e",
        "name": "When Called By Another Workflow"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "s1",
                      "leftValue": "={{ $json.body.type }}",
                      "rightValue": 2,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "command"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "s2",
                      "leftValue": "={{ $json.body.type }}",
                      "rightValue": 5,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "modal_submit"
              }
            ]
          },
          "options": {
            "fallbackOutput": "none"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -240,
          144
        ],
        "id": "41102a76-a99b-4685-a798-cd3f5a0f2486",
        "name": "Switch: Command or Modal Submit"
      },
      {
        "parameters": {
          "operation": "list",
          "base": {
            "__rl": true,
            "value": "appqZUlvd3FzfV5aM",
            "mode": "list",
            "cachedResultName": "Thea Scholarship Payments",
            "cachedResultUrl": "https://airtable.com/appqZUlvd3FzfV5aM"
          },
          "table": {
            "__rl": true,
            "value": "tbloVOhB3Ys19rG2v",
            "mode": "list",
            "cachedResultName": "Table 1",
            "cachedResultUrl": "https://airtable.com/appqZUlvd3FzfV5aM/tbloVOhB3Ys19rG2v"
          }
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2,
        "position": [
          0,
          -208
        ],
        "id": "0c90365f-7d86-410d-9b3a-a1c9f7f80ee8",
        "name": "Airtable: List Unpaid Records",
        "credentials": {
          "airtableTokenApi": {
            "id": "FvCnbFaNlUhr78gp",
            "name": "Thea Scholarship Table API"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "// HTTP Request returns { records: [{id, fields}, ...] }                      \n  const response = $input.first().json;                     \n  const records  = response.records || [];                                      \n  \n  if (records.length === 0) {                                                   \n    return [{                                               \n      json: {                                                                  \n        content: \"Hah! All caught up! Every disbursement's been paid. Don't go falling behind again, got it?!\",                \n        flags: 64\n      }                                                                         \n    }];                                                     \n  }                                                                            \n\n  const options = records.map(r => {\n    const fields      = r.fields || {};\n    const dateStr     = fields['Date Received']                                 \n      ? new Date(fields['Date Received']).toLocaleDateString('en-PH', {\n  year:'numeric', month:'short', day:'numeric' })                               \n      : 'No date';                                          \n    const amount      = fields['Amount Received']                               \n      ? `₱${Number(fields['Amount Received']).toLocaleString('en-PH')}`\n      : 'No amount';                                                            \n    const particulars = (fields['Particulars'] || 'No particulars').substring(0,\n   40);                                                                         \n    const label       = `${dateStr} — ${amount} (${particulars})`.substring(0,\n  100);                                                                         \n                                                            \n    return { label, value: r.id };  // r.id not r.json.id                       \n  });                                                       \n                                                                               \n  return [{\n    json: {\n      content: \"Ugh, fine! Which one are you paying for? Pick one already, I don't have all day.\",\n      flags: 64,\n      components: [{                                                            \n        type: 1,                                            \n        components: [{                                                         \n          type: 3,\n          custom_id: \"select_record_to_update\",                                 \n          placeholder: \"Choose a disbursement...\",\n          options: options.slice(0, 25)                                         \n        }]\n      }]                                                                       \n    }                                                                           \n  }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          0
        ],
        "id": "972ffb05-2fc9-4271-8538-207f37bf2cd4",
        "name": "Code: Build Select Menu"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://discord.com/api/v10/webhooks/{{ $('When Called By Another Workflow').first().json.body.application_id }}/{{ $('When Called By Another Workflow').first().json.body.token }}/messages/@original",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify($input.first().json) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          480,
          0
        ],
        "id": "0b2a0732-de6d-4696-9532-821cd21eb2e8",
        "name": "HTTP: Send Select Menu"
      },
      {
        "parameters": {
          "jsCode": "const body = $('When Called By Another Workflow').first().json.body;\n\n// custom_id format: 'update_payment_modal:recXXXXXX'\nconst recordId = body.data.custom_id.split(':')[1];\n\nconst components   = body.data.components;\nconst getValue     = (id) => {\n  const row = components.find(c => c.components[0].custom_id === id);\n  return row ? row.components[0].value.trim() : '';\n};\n\nconst amountPaid = parseFloat(getValue('amount_paid').replace(/[,\\s]/g, '')) || 0;\nconst datePaidRaw = getValue('date_paid');\n\nfunction toISO(str) {\n    const d = new Date(str);\n    return isNaN(d.getTime()) ? null : d.toISOString(); \n  }\n\nreturn [{ json: { recordId, amountPaid, datePaid: toISO(datePaidRaw) } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          288
        ],
        "id": "4305357f-1487-4f96-92e1-6f718336c22c",
        "name": "Code: Extract Update Data"
      },
      {
        "parameters": {
          "operation": "update",
          "base": {
            "__rl": true,
            "value": "appqZUlvd3FzfV5aM",
            "mode": "list",
            "cachedResultName": "Thea Scholarship Payments",
            "cachedResultUrl": "https://airtable.com/appqZUlvd3FzfV5aM"
          },
          "table": {
            "__rl": true,
            "value": "tbloVOhB3Ys19rG2v",
            "mode": "list",
            "cachedResultName": "Table 1",
            "cachedResultUrl": "https://airtable.com/appqZUlvd3FzfV5aM/tbloVOhB3Ys19rG2v"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Amount Paid": "={{ $json.amountPaid }}",
              "Date Paid": "={{ $json.datePaid }}",
              "id": "={{ $json.recordId }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": false
              },
              {
                "id": "Date Received",
                "displayName": "Date Received",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Received Via",
                "displayName": "Received Via",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Amount Received",
                "displayName": "Amount Received",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Particulars",
                "displayName": "Particulars",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Remaining Balance (From ₱300,000)",
                "displayName": "Remaining Balance (From ₱300,000)",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Amount Paid",
                "displayName": "Amount Paid",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Date Paid",
                "displayName": "Date Paid",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Receipt",
                "displayName": "Receipt",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2,
        "position": [
          240,
          288
        ],
        "id": "f7788ac7-70e7-4f28-b13b-c3d4233a2989",
        "name": "Airtable: Update Record",
        "credentials": {
          "airtableTokenApi": {
            "id": "FvCnbFaNlUhr78gp",
            "name": "Thea Scholarship Table API"
          }
        }
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://discord.com/api/v10/webhooks/{{ $('When Called By Another Workflow').first().json.body.application_id }}/{{ $('When Called By Another Workflow').first().json.body.token }}/messages/@original",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ (() => {\n  const d = $('Code: Extract Update Data').first().json;\n  return JSON.stringify({\n    embeds: [{\n      title: \"Payment recorded. Don't make it a big deal.\",\n      description: \"It's not like I was keeping track or anything! ...okay fine, I was. Good job paying on time. Now go upload the receipt before I get mad!\",\n      color: 16007990,\n      fields: [\n        { name: \"Amount Paid\", value: `\\u20b1${Number(d.amountPaid).toLocaleString('en-PH')}`, inline: true },\n        { name: \"Date Paid\",   value: d.datePaid || 'N/A',                                     inline: true }\n      ],\n      footer: { text: \"Momo Bot \\u2022 Don't forget the receipt, seriously!!\" }\n    }]\n  });\n})() }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          480,
          288
        ],
        "id": "0141c611-aac9-4195-8429-9a1cb6717ccf",
        "name": "HTTP: Confirm Update Payment"
      },
      {
        "parameters": {
          "url": "https://api.airtable.com/v0/appqZUlvd3FzfV5aM/tbloVOhB3Ys19rG2v",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "airtableTokenApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          0,
          0
        ],
        "id": "b003f6cb-e493-402d-b11e-e3bbbbd2f698",
        "name": "HTTP Request",
        "credentials": {
          "airtableTokenApi": {
            "id": "FvCnbFaNlUhr78gp",
            "name": "Thea Scholarship Table API"
          }
        }
      }
    ],
    "connections": {
      "When Called By Another Workflow": {
        "main": [
          [
            {
              "node": "Switch: Command or Modal Submit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch: Command or Modal Submit": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code: Extract Update Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Airtable: List Unpaid Records": {
        "main": [
          []
        ]
      },
      "Code: Build Select Menu": {
        "main": [
          [
            {
              "node": "HTTP: Send Select Menu",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Extract Update Data": {
        "main": [
          [
            {
              "node": "Airtable: Update Record",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Airtable: Update Record": {
        "main": [
          [
            {
              "node": "HTTP: Confirm Update Payment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Code: Build Select Menu",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Andrea Baulita",
    "name": "Version 00dff869",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "00dff869-50cf-4a3a-8279-a8f437b7ef89",
  "connections": {
    "When Called By Another Workflow": {
      "main": [
        [
          {
            "node": "Switch: Command or Modal Submit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Command or Modal Submit": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Extract Update Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable: List Unpaid Records": {
      "main": [
        []
      ]
    },
    "Code: Build Select Menu": {
      "main": [
        [
          {
            "node": "HTTP: Send Select Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Extract Update Data": {
      "main": [
        [
          {
            "node": "Airtable: Update Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable: Update Record": {
      "main": [
        [
          {
            "node": "HTTP: Confirm Update Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code: Build Select Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-05T02:23:46.054Z",
  "id": "Q2aH5FYTkA2CygOE",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Momo - Scholarship: Update Payment",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        144
      ],
      "id": "2a098208-b573-4448-b59d-ad45340b878e",
      "name": "When Called By Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "s1",
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "command"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "s2",
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": 5,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "modal_submit"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -240,
        144
      ],
      "id": "41102a76-a99b-4685-a798-cd3f5a0f2486",
      "name": "Switch: Command or Modal Submit"
    },
    {
      "parameters": {
        "operation": "list",
        "base": {
          "__rl": true,
          "value": "appqZUlvd3FzfV5aM",
          "mode": "list",
          "cachedResultName": "Thea Scholarship Payments",
          "cachedResultUrl": "https://airtable.com/appqZUlvd3FzfV5aM"
        },
        "table": {
          "__rl": true,
          "value": "tbloVOhB3Ys19rG2v",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appqZUlvd3FzfV5aM/tbloVOhB3Ys19rG2v"
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        0,
        -208
      ],
      "id": "0c90365f-7d86-410d-9b3a-a1c9f7f80ee8",
      "name": "Airtable: List Unpaid Records",
      "credentials": {
        "airtableTokenApi": {
          "id": "FvCnbFaNlUhr78gp",
          "name": "Thea Scholarship Table API"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// HTTP Request returns { records: [{id, fields}, ...] }                      \n  const response = $input.first().json;                     \n  const records  = response.records || [];                                      \n  \n  if (records.length === 0) {                                                   \n    return [{                                               \n      json: {                                                                  \n        content: \"Hah! All caught up! Every disbursement's been paid. Don't go falling behind again, got it?!\",                \n        flags: 64\n      }                                                                         \n    }];                                                     \n  }                                                                            \n\n  const options = records.map(r => {\n    const fields      = r.fields || {};\n    const dateStr     = fields['Date Received']                                 \n      ? new Date(fields['Date Received']).toLocaleDateString('en-PH', {\n  year:'numeric', month:'short', day:'numeric' })                               \n      : 'No date';                                          \n    const amount      = fields['Amount Received']                               \n      ? `₱${Number(fields['Amount Received']).toLocaleString('en-PH')}`\n      : 'No amount';                                                            \n    const particulars = (fields['Particulars'] || 'No particulars').substring(0,\n   40);                                                                         \n    const label       = `${dateStr} — ${amount} (${particulars})`.substring(0,\n  100);                                                                         \n                                                            \n    return { label, value: r.id };  // r.id not r.json.id                       \n  });                                                       \n                                                                               \n  return [{\n    json: {\n      content: \"Ugh, fine! Which one are you paying for? Pick one already, I don't have all day.\",\n      flags: 64,\n      components: [{                                                            \n        type: 1,                                            \n        components: [{                                                         \n          type: 3,\n          custom_id: \"select_record_to_update\",                                 \n          placeholder: \"Choose a disbursement...\",\n          options: options.slice(0, 25)                                         \n        }]\n      }]                                                                       \n    }                                                                           \n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "972ffb05-2fc9-4271-8538-207f37bf2cd4",
      "name": "Code: Build Select Menu"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://discord.com/api/v10/webhooks/{{ $('When Called By Another Workflow').first().json.body.application_id }}/{{ $('When Called By Another Workflow').first().json.body.token }}/messages/@original",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($input.first().json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        480,
        0
      ],
      "id": "0b2a0732-de6d-4696-9532-821cd21eb2e8",
      "name": "HTTP: Send Select Menu"
    },
    {
      "parameters": {
        "jsCode": "const body = $('When Called By Another Workflow').first().json.body;\n\n// custom_id format: 'update_payment_modal:recXXXXXX'\nconst recordId = body.data.custom_id.split(':')[1];\n\nconst components   = body.data.components;\nconst getValue     = (id) => {\n  const row = components.find(c => c.components[0].custom_id === id);\n  return row ? row.components[0].value.trim() : '';\n};\n\nconst amountPaid = parseFloat(getValue('amount_paid').replace(/[,\\s]/g, '')) || 0;\nconst datePaidRaw = getValue('date_paid');\n\nfunction toISO(str) {\n    const d = new Date(str);\n    return isNaN(d.getTime()) ? null : d.toISOString(); \n  }\n\nreturn [{ json: { recordId, amountPaid, datePaid: toISO(datePaidRaw) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        288
      ],
      "id": "4305357f-1487-4f96-92e1-6f718336c22c",
      "name": "Code: Extract Update Data"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appqZUlvd3FzfV5aM",
          "mode": "list",
          "cachedResultName": "Thea Scholarship Payments",
          "cachedResultUrl": "https://airtable.com/appqZUlvd3FzfV5aM"
        },
        "table": {
          "__rl": true,
          "value": "tbloVOhB3Ys19rG2v",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appqZUlvd3FzfV5aM/tbloVOhB3Ys19rG2v"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Amount Paid": "={{ $json.amountPaid }}",
            "Date Paid": "={{ $json.datePaid }}",
            "id": "={{ $json.recordId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Date Received",
              "displayName": "Date Received",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Received Via",
              "displayName": "Received Via",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Amount Received",
              "displayName": "Amount Received",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Particulars",
              "displayName": "Particulars",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Remaining Balance (From ₱300,000)",
              "displayName": "Remaining Balance (From ₱300,000)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Amount Paid",
              "displayName": "Amount Paid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Paid",
              "displayName": "Date Paid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Receipt",
              "displayName": "Receipt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        240,
        288
      ],
      "id": "f7788ac7-70e7-4f28-b13b-c3d4233a2989",
      "name": "Airtable: Update Record",
      "credentials": {
        "airtableTokenApi": {
          "id": "FvCnbFaNlUhr78gp",
          "name": "Thea Scholarship Table API"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://discord.com/api/v10/webhooks/{{ $('When Called By Another Workflow').first().json.body.application_id }}/{{ $('When Called By Another Workflow').first().json.body.token }}/messages/@original",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ (() => {\n  const d = $('Code: Extract Update Data').first().json;\n  return JSON.stringify({\n    embeds: [{\n      title: \"Payment recorded. Don't make it a big deal.\",\n      description: \"It's not like I was keeping track or anything! ...okay fine, I was. Good job paying on time. Now go upload the receipt before I get mad!\",\n      color: 16007990,\n      fields: [\n        { name: \"Amount Paid\", value: `\\u20b1${Number(d.amountPaid).toLocaleString('en-PH')}`, inline: true },\n        { name: \"Date Paid\",   value: d.datePaid || 'N/A',                                     inline: true }\n      ],\n      footer: { text: \"Momo Bot \\u2022 Don't forget the receipt, seriously!!\" }\n    }]\n  });\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        480,
        288
      ],
      "id": "0141c611-aac9-4195-8429-9a1cb6717ccf",
      "name": "HTTP: Confirm Update Payment"
    },
    {
      "parameters": {
        "url": "https://api.airtable.com/v0/appqZUlvd3FzfV5aM/tbloVOhB3Ys19rG2v",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "id": "b003f6cb-e493-402d-b11e-e3bbbbd2f698",
      "name": "HTTP Request",
      "credentials": {
        "airtableTokenApi": {
          "id": "FvCnbFaNlUhr78gp",
          "name": "Thea Scholarship Table API"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {
    "When Called By Another Workflow": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1541552.hstgr.cloud",
            "user-agent": "Discord-Interactions/1.0 (+https://discord.com)",
            "content-length": "1979",
            "content-type": "application/json",
            "x-forwarded-for": "35.227.62.178",
            "x-forwarded-host": "n8n.srv1541552.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "bed0e4eeabd6",
            "x-real-ip": "35.227.62.178",
            "x-signature-ed25519": "39ab7066e0c342c16bc8ebd610ffcd37140c20843e05d8e73903c90bc6ba47192cf3d4e87ea00fae95a8925c3d9fef4e9edef8e140462c749f4532953680410a",
            "x-signature-timestamp": "1775386944",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "app_permissions": "18014398509481983",
            "application_id": "1488862741564358756",
            "attachment_size_limit": 10485760,
            "authorizing_integration_owners": {
              "0": "1488068132198420564"
            },
            "channel": {
              "flags": 0,
              "guild_id": "1488068132198420564",
              "id": "1488860733096853595",
              "last_message_id": "1490305449600221234",
              "last_pin_timestamp": "2026-04-01T11:22:07.807000+00:00",
              "name": "scholarship-updates",
              "nsfw": false,
              "parent_id": "1488074891298209923",
              "permissions": "18014398509481983",
              "position": 11,
              "rate_limit_per_user": 0,
              "topic": null,
              "type": 0
            },
            "channel_id": "1488860733096853595",
            "context": 0,
            "data": {
              "id": "1490176232346882119",
              "name": "update-payment",
              "type": 1
            },
            "entitlement_sku_ids": [],
            "entitlements": [],
            "guild": {
              "features": [],
              "id": "1488068132198420564",
              "locale": "en-US"
            },
            "guild_id": "1488068132198420564",
            "guild_locale": "en-US",
            "id": "1490305604755914922",
            "locale": "en-US",
            "member": {
              "avatar": null,
              "banner": null,
              "communication_disabled_until": null,
              "deaf": false,
              "flags": 0,
              "joined_at": "2026-03-30T06:51:30.063000+00:00",
              "mute": false,
              "nick": null,
              "pending": false,
              "permissions": "18014398509481983",
              "premium_since": null,
              "roles": [
                "1488850980459249684"
              ],
              "unusual_dm_activity_until": null,
              "user": {
                "avatar": "bb6ed7d43d509fe7c95a591cad61f4fa",
                "avatar_decoration_data": {
                  "asset": "a_024b0379f56da1e61a0480bf7e1080ca",
                  "expires_at": null,
                  "sku_id": "1481384635886862397"
                },
                "clan": null,
                "collectibles": {
                  "nameplate": {
                    "asset": "nameplates/spider-man/1481388758455550114/",
                    "expires_at": null,
                    "label": "A glowing red and black spider resting on blue-white spider webs",
                    "palette": "crimson",
                    "sku_id": "1481388758455550114"
                  }
                },
                "discriminator": "0",
                "display_name_styles": null,
                "global_name": "supremodude",
                "id": "550449378205106196",
                "primary_guild": null,
                "public_flags": 64,
                "username": "supremodude7"
              }
            },
            "token": "aW50ZXJhY3Rpb246MTQ5MDMwNTYwNDc1NTkxNDkyMjpWalR1U2FvWUNsRXNKcjdsVGZmOXp3NTB3YjhVR2N0b05SMFBoZG8ydjJLWkJ1T1RHNVNMSno5MTRvT1hPOEdJdENWOUxDS3Bxd0U0eUNMcjlLam9VQlRJSE8wOE9YdjE4NnRYRG5xVUNLaHRheTNlUHlXWTFJYmxDaWdEczJuZw",
            "type": 2,
            "version": 1
          },
          "webhookUrl": "https://n8n.srv1541552.hstgr.cloud/webhook/momo-interactions",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo": {
    "owner": "sanashii",
    "name": "n8n-backups"
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-04-05T02:23:46.059Z",
      "createdAt": "2026-04-05T02:23:46.059Z",
      "role": "workflow:owner",
      "workflowId": "Q2aH5FYTkA2CygOE",
      "projectId": "9C1xKZgwyby4oLqC"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-05T11:07:45.700Z",
  "versionId": "00dff869-50cf-4a3a-8279-a8f437b7ef89"
}