re_Fucd_a-Lmv6Y4XBPus.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-30T10:13:04.000Z",
    "createdAt": "2026-03-30T10:09:43.087Z",
    "versionId": "1006555e-6324-4177-b3d8-b7f821cc3074",
    "workflowId": "re_Fucd_a-Lmv6Y4XBPus",
    "nodes": [
      {
        "parameters": {
          "text": "=OPEN-METEO DATA:\nWind Gusts: {{ $node[\"Get OpenMeteo details\"].json.current.wind_gusts_10m }} km/h\nPrecipitation: {{ $node[\"Get OpenMeteo details\"].json.current.precipitation }} mm\n\nPAGASA REGIONAL FORECAST:\n{{ $node[\"Code in JavaScript\"].json.locations[0].location }}: {{ $node[\"Code in JavaScript\"].json.locations[0].forecast }}\nThunderstorm Alert: {{ $node[\"Code in JavaScript\"].json.alerts.thunderstorm }}\n\nGALE WARNING STATUS:\n{{ $node[\"Code in JavaScript1\"].json.status }}\nAffected Areas: {{ $node[\"Code in JavaScript1\"].json.affected_my_areas }}",
          "attributes": {
            "attributes": [
              {
                "name": "overall_risk",
                "description": "Rate the travel risk as \"LOW\", \"MODERATE\", or \"HIGH\" based on wind > 40km/h or Gale Warnings."
              },
              {
                "name": "boat_cancellation_likelihood",
                "description": "Percentage chance (0-100%) that boats between Cebu and Naval will be cancelled."
              },
              {
                "name": "message_summary",
                "description": "Create a short, punchy 2-line update for WhatsApp. Use emojis like ⚠️ or 🚢. Mention Biliran specifically."
              },
              {
                "name": "is_emergency",
                "description": "Set to True only if a Gale Warning is active for Leyte/Biliran or Wind Gusts > 60km/h."
              }
            ]
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.informationExtractor",
        "typeVersion": 1.2,
        "position": [
          1680,
          144
        ],
        "id": "c0b4ec88-2ac6-4a9f-a05c-589b0a2b0bda",
        "name": "Information Extractor"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 3
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -144,
          16
        ],
        "id": "8d031b42-6142-4963-907b-e73e57d98854",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://www.pagasa.dost.gov.ph/tropical-cyclone/severe-weather-bulletin",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          176,
          16
        ],
        "id": "596e3377-5178-4b86-852e-64747c370598",
        "name": "Get PAGASA SWB"
      },
      {
        "parameters": {
          "url": "https://api.open-meteo.com/v1/forecast?latitude=11.5622&longitude=124.3944&current=precipitation,wind_speed_10m,wind_gusts_10m&hourly=precipitation,wind_speed_10m,wind_gusts_10m&daily=wind_gusts_10m_max,precipitation_sum&timezone=Asia%2FManila&forecast_days=3",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          176,
          240
        ],
        "id": "65e4e966-d321-466d-b64f-2ce4e99ce2ad",
        "name": "Get OpenMeteo details"
      },
      {
        "parameters": {
          "url": "https://www.pagasa.dost.gov.ph/regional-forecast/visprsd",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          848,
          144
        ],
        "id": "ca8c7961-a7f8-4112-9055-af1aa128e6ae",
        "name": "Get Visayas PAGASA Forecast"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "622793b2-0761-46b3-aa91-773f3db3e556",
                "leftValue": "={{ $json.data }}",
                "rightValue": "No Active Tropical Cyclone within the Philippine Area of Responsibility",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "5d7823bf-7eec-4328-8f25-31d1322d4a23",
                "leftValue": "={{ $json.current.wind_gusts_10m }}",
                "rightValue": "={{ 40\n}}",
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              },
              {
                "id": "0ba3105b-8f8c-401d-b5d3-370e04679bc6",
                "leftValue": "={{ $json.current.precipitation }}",
                "rightValue": 5,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "or"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          624,
          144
        ],
        "id": "57993234-faa8-479c-81ba-449d87693f0d",
        "name": "If"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          864,
          384
        ],
        "id": "0f3eda83-8111-48f0-8482-e3376433efd4",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineAll",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          416,
          144
        ],
        "id": "7ade3cbd-b890-4e75-b5c3-1c3861d382e5",
        "name": "Merge"
      },
      {
        "parameters": {
          "jsCode": "// Get the HTML content\nconst html = $input.first().json.data || $input.first().json.body || \"\";\n\n// We'll look for these specific keys in the HTML\nconst targets = [\n  { label: \"Cebu\", search: \"Cebu City\" },\n  { label: \"Naval\", search: \"Naval\" },\n  { label: \"Biliran\", search: \"Biliran\" }\n];\n\nconst results = targets.map(target => {\n  // This Regex looks for the city name and grabs everything until the next HTML tag or coordinate\n  // It handles the \"partly cloudy\" text seen in your screenshot.\n  const regex = new RegExp(`${target.search}[\\\\s\\\\S]{1,50}?<div[^>]*>([\\\\s\\\\S]{5,150}?)<\\\\/div>`, 'i');\n  const match = html.match(regex);\n  \n  let forecastText = match ? match[1].replace(/<[^>]*>?/gm, '').trim() : \"Clear Skies\"; \n  \n  // If the scrape fails but we see \"Clear Skies\" icons in the HTML, \n  // we default to a safe \"Fair Weather\" unless a warning is found below.\n  return {\n    location: target.label,\n    forecast: forecastText\n  };\n});\n\n// Capture the CRITICAL alerts for boat travel\nconst thunderstormAlert = html.match(/Thunderstorm (Watch|Information) #VISPRSD[\\s\\S]{1,500}?(within 12 hours|persist)/i);\nconst galeWarning = html.match(/Gale Warning[\\s\\S]{1,500}?(Rough to Very Rough)/i);\n\nreturn [\n  {\n    json: {\n      timestamp: new Date().toLocaleString(\"en-PH\", { timeZone: \"Asia/Manila\" }),\n      locations: results,\n      alerts: {\n        thunderstorm: thunderstormAlert ? thunderstormAlert[0].replace(/<[^>]*>?/gm, ' ').trim() : \"None\",\n        gale_warning: galeWarning ? \"ACTIVE GALE WARNING - Boats likely stopped\" : \"None\"\n      }\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1056,
          144
        ],
        "id": "de1d89df-a021-4794-993a-49b44d232e33",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "url": "https://www.pagasa.dost.gov.ph/marine/gale-warning",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1264,
          144
        ],
        "id": "c67ce15d-a729-480d-b252-e4c85d597e77",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "jsCode": "const html = $input.first().json.data || $input.first().json.body || \"\";\n\n// 1. Check if the \"No Gale Warning\" text exists\nconst noWarningFound = html.includes(\"no Gale Warning Issued\") || html.includes(\"No active gale warning\");\n\n// 2. Define your \"Critical Zones\" for the Leyte move\nconst myZones = [\"Leyte\", \"Biliran\", \"Naval\", \"Carigara\", \"Ormoc\"];\n\n// 3. Search for any mention of your zones in the HTML\n// This acts as a fallback even if the parsing isn't perfect\nconst mentionedZones = myZones.filter(zone => \n  new RegExp(`\\\\b${zone}\\\\b`, 'i').test(html)\n);\n\n// 4. Determine the Boat Status\nlet boatStatus = \"PROBABLY OK\";\nlet alertLevel = \"Green\";\n\nif (!noWarningFound) {\n  boatStatus = \"WARNING ACTIVE - CHECK COAST GUARD\";\n  alertLevel = \"Yellow\";\n}\n\nif (mentionedZones.length > 0 && !noWarningFound) {\n  boatStatus = \"DANGER: LEYTE/BILIRAN AFFECTED - BOATS LIKELY STOPPED\";\n  alertLevel = \"Red\";\n}\n\nreturn [\n  {\n    json: {\n      timestamp: new Date().toLocaleString(\"en-PH\", { timeZone: \"Asia/Manila\" }),\n      is_gale_active: !noWarningFound,\n      affected_my_areas: mentionedZones,\n      status: boatStatus,\n      alert_color: alertLevel,\n      raw_text_summary: html.replace(/<[^>]*>?/gm, ' ').substring(0, 500) // First 500 chars of text\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1472,
          144
        ],
        "id": "1dafec25-ca37-4172-b116-3f76f73ed8c4",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "model": "google/gemini-2.0-flash-001",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1616,
          352
        ],
        "id": "c9eb7dfd-c23b-4c7e-8c8a-e365152a54d6",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "g0Uby2vRiyVUwoAp",
            "name": "OpenRouter API Key"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "1488068132198420564",
            "mode": "list",
            "cachedResultName": "bau & thea",
            "cachedResultUrl": "https://discord.com/channels/1488068132198420564"
          },
          "channelId": {
            "__rl": true,
            "value": "1488083586870677524",
            "mode": "list",
            "cachedResultName": "leyte-storm-watch",
            "cachedResultUrl": "https://discord.com/channels/1488068132198420564/1488083586870677524"
          },
          "content": "={{ $json.output.message_summary }}",
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          2032,
          144
        ],
        "id": "c3b0447e-dd01-4a10-95f2-e80bc1e8f2d2",
        "name": "Send a message",
        "webhookId": "7590072d-da53-42ee-8a05-81e0c94c058e",
        "credentials": {
          "discordBotApi": {
            "id": "QXXgqWlMdAoLfJM5",
            "name": "Okarun Discord Bot"
          }
        }
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -144,
          240
        ],
        "id": "8a2684d1-3cd3-4d29-aece-c1d752f04f0c",
        "name": "When Executed by Another Workflow"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get PAGASA SWB",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get OpenMeteo details",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get PAGASA SWB": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Visayas PAGASA Forecast": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get OpenMeteo details": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Get Visayas PAGASA Forecast",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Information Extractor",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Information Extractor",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Information Extractor": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Get PAGASA SWB",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get OpenMeteo details",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "import",
    "name": "Version bbd93bfa",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "1006555e-6324-4177-b3d8-b7f821cc3074",
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get PAGASA SWB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get OpenMeteo details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PAGASA SWB": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Visayas PAGASA Forecast": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get OpenMeteo details": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Visayas PAGASA Forecast",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get PAGASA SWB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get OpenMeteo details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-21T12:29:37.061Z",
  "id": "re_Fucd_a-Lmv6Y4XBPus",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Leyte Storm Watch",
  "nodes": [
    {
      "parameters": {
        "text": "=OPEN-METEO DATA:\nWind Gusts: {{ $node[\"Get OpenMeteo details\"].json.current.wind_gusts_10m }} km/h\nPrecipitation: {{ $node[\"Get OpenMeteo details\"].json.current.precipitation }} mm\n\nPAGASA REGIONAL FORECAST:\n{{ $node[\"Code in JavaScript\"].json.locations[0].location }}: {{ $node[\"Code in JavaScript\"].json.locations[0].forecast }}\nThunderstorm Alert: {{ $node[\"Code in JavaScript\"].json.alerts.thunderstorm }}\n\nGALE WARNING STATUS:\n{{ $node[\"Code in JavaScript1\"].json.status }}\nAffected Areas: {{ $node[\"Code in JavaScript1\"].json.affected_my_areas }}",
        "attributes": {
          "attributes": [
            {
              "name": "overall_risk",
              "description": "Rate the travel risk as \"LOW\", \"MODERATE\", or \"HIGH\" based on wind > 40km/h or Gale Warnings."
            },
            {
              "name": "boat_cancellation_likelihood",
              "description": "Percentage chance (0-100%) that boats between Cebu and Naval will be cancelled."
            },
            {
              "name": "message_summary",
              "description": "Create a short, punchy 2-line update for WhatsApp. Use emojis like ⚠️ or 🚢. Mention Biliran specifically."
            },
            {
              "name": "is_emergency",
              "description": "Set to True only if a Gale Warning is active for Leyte/Biliran or Wind Gusts > 60km/h."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        1680,
        144
      ],
      "id": "c0b4ec88-2ac6-4a9f-a05c-589b0a2b0bda",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -144,
        16
      ],
      "id": "8d031b42-6142-4963-907b-e73e57d98854",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.pagasa.dost.gov.ph/tropical-cyclone/severe-weather-bulletin",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        176,
        16
      ],
      "id": "596e3377-5178-4b86-852e-64747c370598",
      "name": "Get PAGASA SWB"
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=11.5622&longitude=124.3944&current=precipitation,wind_speed_10m,wind_gusts_10m&hourly=precipitation,wind_speed_10m,wind_gusts_10m&daily=wind_gusts_10m_max,precipitation_sum&timezone=Asia%2FManila&forecast_days=3",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        176,
        240
      ],
      "id": "65e4e966-d321-466d-b64f-2ce4e99ce2ad",
      "name": "Get OpenMeteo details"
    },
    {
      "parameters": {
        "url": "https://www.pagasa.dost.gov.ph/regional-forecast/visprsd",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        848,
        144
      ],
      "id": "ca8c7961-a7f8-4112-9055-af1aa128e6ae",
      "name": "Get Visayas PAGASA Forecast"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "622793b2-0761-46b3-aa91-773f3db3e556",
              "leftValue": "={{ $json.data }}",
              "rightValue": "No Active Tropical Cyclone within the Philippine Area of Responsibility",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "5d7823bf-7eec-4328-8f25-31d1322d4a23",
              "leftValue": "={{ $json.current.wind_gusts_10m }}",
              "rightValue": "={{ 40\n}}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "0ba3105b-8f8c-401d-b5d3-370e04679bc6",
              "leftValue": "={{ $json.current.precipitation }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        144
      ],
      "id": "57993234-faa8-479c-81ba-449d87693f0d",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        864,
        384
      ],
      "id": "0f3eda83-8111-48f0-8482-e3376433efd4",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        416,
        144
      ],
      "id": "7ade3cbd-b890-4e75-b5c3-1c3861d382e5",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Get the HTML content\nconst html = $input.first().json.data || $input.first().json.body || \"\";\n\n// We'll look for these specific keys in the HTML\nconst targets = [\n  { label: \"Cebu\", search: \"Cebu City\" },\n  { label: \"Naval\", search: \"Naval\" },\n  { label: \"Biliran\", search: \"Biliran\" }\n];\n\nconst results = targets.map(target => {\n  // This Regex looks for the city name and grabs everything until the next HTML tag or coordinate\n  // It handles the \"partly cloudy\" text seen in your screenshot.\n  const regex = new RegExp(`${target.search}[\\\\s\\\\S]{1,50}?<div[^>]*>([\\\\s\\\\S]{5,150}?)<\\\\/div>`, 'i');\n  const match = html.match(regex);\n  \n  let forecastText = match ? match[1].replace(/<[^>]*>?/gm, '').trim() : \"Clear Skies\"; \n  \n  // If the scrape fails but we see \"Clear Skies\" icons in the HTML, \n  // we default to a safe \"Fair Weather\" unless a warning is found below.\n  return {\n    location: target.label,\n    forecast: forecastText\n  };\n});\n\n// Capture the CRITICAL alerts for boat travel\nconst thunderstormAlert = html.match(/Thunderstorm (Watch|Information) #VISPRSD[\\s\\S]{1,500}?(within 12 hours|persist)/i);\nconst galeWarning = html.match(/Gale Warning[\\s\\S]{1,500}?(Rough to Very Rough)/i);\n\nreturn [\n  {\n    json: {\n      timestamp: new Date().toLocaleString(\"en-PH\", { timeZone: \"Asia/Manila\" }),\n      locations: results,\n      alerts: {\n        thunderstorm: thunderstormAlert ? thunderstormAlert[0].replace(/<[^>]*>?/gm, ' ').trim() : \"None\",\n        gale_warning: galeWarning ? \"ACTIVE GALE WARNING - Boats likely stopped\" : \"None\"\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        144
      ],
      "id": "de1d89df-a021-4794-993a-49b44d232e33",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://www.pagasa.dost.gov.ph/marine/gale-warning",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1264,
        144
      ],
      "id": "c67ce15d-a729-480d-b252-e4c85d597e77",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data || $input.first().json.body || \"\";\n\n// 1. Check if the \"No Gale Warning\" text exists\nconst noWarningFound = html.includes(\"no Gale Warning Issued\") || html.includes(\"No active gale warning\");\n\n// 2. Define your \"Critical Zones\" for the Leyte move\nconst myZones = [\"Leyte\", \"Biliran\", \"Naval\", \"Carigara\", \"Ormoc\"];\n\n// 3. Search for any mention of your zones in the HTML\n// This acts as a fallback even if the parsing isn't perfect\nconst mentionedZones = myZones.filter(zone => \n  new RegExp(`\\\\b${zone}\\\\b`, 'i').test(html)\n);\n\n// 4. Determine the Boat Status\nlet boatStatus = \"PROBABLY OK\";\nlet alertLevel = \"Green\";\n\nif (!noWarningFound) {\n  boatStatus = \"WARNING ACTIVE - CHECK COAST GUARD\";\n  alertLevel = \"Yellow\";\n}\n\nif (mentionedZones.length > 0 && !noWarningFound) {\n  boatStatus = \"DANGER: LEYTE/BILIRAN AFFECTED - BOATS LIKELY STOPPED\";\n  alertLevel = \"Red\";\n}\n\nreturn [\n  {\n    json: {\n      timestamp: new Date().toLocaleString(\"en-PH\", { timeZone: \"Asia/Manila\" }),\n      is_gale_active: !noWarningFound,\n      affected_my_areas: mentionedZones,\n      status: boatStatus,\n      alert_color: alertLevel,\n      raw_text_summary: html.replace(/<[^>]*>?/gm, ' ').substring(0, 500) // First 500 chars of text\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        144
      ],
      "id": "1dafec25-ca37-4172-b116-3f76f73ed8c4",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1616,
        352
      ],
      "id": "c9eb7dfd-c23b-4c7e-8c8a-e365152a54d6",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "g0Uby2vRiyVUwoAp",
          "name": "OpenRouter API Key"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1488068132198420564",
          "mode": "list",
          "cachedResultName": "bau & thea",
          "cachedResultUrl": "https://discord.com/channels/1488068132198420564"
        },
        "channelId": {
          "__rl": true,
          "value": "1488083586870677524",
          "mode": "list",
          "cachedResultName": "leyte-storm-watch",
          "cachedResultUrl": "https://discord.com/channels/1488068132198420564/1488083586870677524"
        },
        "content": "={{ $json.output.message_summary }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2032,
        144
      ],
      "id": "c3b0447e-dd01-4a10-95f2-e80bc1e8f2d2",
      "name": "Send a message",
      "webhookId": "7590072d-da53-42ee-8a05-81e0c94c058e",
      "credentials": {
        "discordBotApi": {
          "id": "QXXgqWlMdAoLfJM5",
          "name": "Okarun Discord Bot"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -144,
        240
      ],
      "id": "8a2684d1-3cd3-4d29-aece-c1d752f04f0c",
      "name": "When Executed by Another Workflow"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "sanashii",
    "name": "n8n-backups"
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-30T10:09:43.064Z",
      "createdAt": "2026-03-30T10:09:43.064Z",
      "role": "workflow:owner",
      "workflowId": "re_Fucd_a-Lmv6Y4XBPus",
      "projectId": "9C1xKZgwyby4oLqC"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-30T09:06:14.593Z",
  "versionId": "1006555e-6324-4177-b3d8-b7f821cc3074"
}