re_Fucd_a-Lmv6Y4XBPus.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-31T05:05:49.000Z",
    "createdAt": "2026-03-31T05:05:33.113Z",
    "versionId": "23aa8163-5bfe-4d12-a058-2bf6a7165a3b",
    "workflowId": "re_Fucd_a-Lmv6Y4XBPus",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 3
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -704,
          -256
        ],
        "id": "71e249c8-a555-40b1-9e5f-d011c829f2ac",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -704,
          -32
        ],
        "id": "4233be54-c459-4be1-962a-91847756249d",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://www.pagasa.dost.gov.ph/tropical-cyclone/severe-weather-bulletin",
          "options": {
            "allowUnauthorizedCerts": true
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -384,
          -256
        ],
        "id": "85b4a48f-4c29-419c-9dfd-d90b2cbdff72",
        "name": "Get PAGASA SWB"
      },
      {
        "parameters": {
          "url": "https://api.open-meteo.com/v1/forecast?latitude=11.5622&longitude=124.3944&current=precipitation,wind_speed_10m,wind_gusts_10m&hourly=precipitation,wind_speed_10m,wind_gusts_10m&daily=wind_gusts_10m_max,precipitation_sum&timezone=Asia%2FManila&forecast_days=3",
          "options": {
            "allowUnauthorizedCerts": true
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -384,
          -32
        ],
        "id": "c3f3409c-c721-4141-a305-2f5a21964d51",
        "name": "Get OpenMeteo details"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineAll",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -144,
          -128
        ],
        "id": "b546faad-82ad-4d21-9733-eaff733915e6",
        "name": "Merge"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "622793b2-0761-46b3-aa91-773f3db3e556",
                "leftValue": "={{ $json.data }}",
                "rightValue": "No Active Tropical Cyclone within the Philippine Area of Responsibility",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              },
              {
                "id": "5d7823bf-7eec-4328-8f25-31d1322d4a23",
                "leftValue": "={{ $json.current.wind_gusts_10m }}",
                "rightValue": 40,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              },
              {
                "id": "0ba3105b-8f8c-401d-b5d3-370e04679bc6",
                "leftValue": "={{ $json.current.precipitation }}",
                "rightValue": 5,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "or"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          64,
          -128
        ],
        "id": "282a3d1e-35fe-458d-b376-2ac38cefccad",
        "name": "If"
      },
      {
        "parameters": {
          "url": "https://www.pagasa.dost.gov.ph/regional-forecast/visprsd",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          352,
          -128
        ],
        "id": "00c19d48-9372-41e1-94ea-3694022f6950",
        "name": "Get Visayas PAGASA Forecast"
      },
      {
        "parameters": {
          "jsCode": "// Get the HTML content\nconst html = $input.first().json.data || $input.first().json.body || \"\";\n\n// We'll look for these specific keys in the HTML\nconst targets = [\n  { label: \"Cebu\", search: \"Cebu City\" },\n  { label: \"Naval\", search: \"Naval\" },\n  { label: \"Biliran\", search: \"Biliran\" }\n];\n\nconst results = targets.map(target => {\n  const regex = new RegExp(`${target.search}[\\\\s\\\\S]{1,50}?<div[^>]*>([\\\\s\\\\S]{5,150}?)<\\\\/div>`, 'i');\n  const match = html.match(regex);\n  let forecastText = match ? match[1].replace(/<[^>]*>?/gm, '').trim() : \"Clear Skies\";\n  return { location: target.label, forecast: forecastText };\n});\n\nconst thunderstormAlert = html.match(/Thunderstorm (Watch|Information) #VISPRSD[\\s\\S]{1,500}?(within 12 hours|persist)/i);\nconst galeWarning = html.match(/Gale Warning[\\s\\S]{1,500}?(Rough to Very Rough)/i);\n\nreturn [\n  {\n    json: {\n      timestamp: new Date().toLocaleString(\"en-PH\", { timeZone: \"Asia/Manila\" }),\n      locations: results,\n      alerts: {\n        thunderstorm: thunderstormAlert ? thunderstormAlert[0].replace(/<[^>]*>?/gm, ' ').trim() : \"None\",\n        gale_warning: galeWarning ? \"ACTIVE GALE WARNING - Boats likely stopped\" : \"None\"\n      }\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          592,
          -128
        ],
        "id": "6fcf4d55-ea62-4afe-8bbb-1a3c9f8077cc",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "url": "https://www.pagasa.dost.gov.ph/marine/gale-warning",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          816,
          -128
        ],
        "id": "082775d5-2cc5-4883-8073-df69eb7568c9",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "jsCode": "const html = $input.first().json.data || $input.first().json.body || \"\";\n\nconst noWarningFound = html.includes(\"no Gale Warning Issued\") || html.includes(\"No active gale warning\");\nconst myZones = [\"Leyte\", \"Biliran\", \"Naval\", \"Carigara\", \"Ormoc\"];\nconst mentionedZones = myZones.filter(zone =>\n  new RegExp(`\\\\b${zone}\\\\b`, 'i').test(html)\n);\n\nlet boatStatus = \"PROBABLY OK\";\nlet alertLevel = \"Green\";\n\nif (!noWarningFound) {\n  boatStatus = \"WARNING ACTIVE - CHECK COAST GUARD\";\n  alertLevel = \"Yellow\";\n}\n\nif (mentionedZones.length > 0 && !noWarningFound) {\n  boatStatus = \"DANGER: LEYTE/BILIRAN AFFECTED - BOATS LIKELY STOPPED\";\n  alertLevel = \"Red\";\n}\n\nreturn [\n  {\n    json: {\n      timestamp: new Date().toLocaleString(\"en-PH\", { timeZone: \"Asia/Manila\" }),\n      is_gale_active: !noWarningFound,\n      affected_my_areas: mentionedZones,\n      status: boatStatus,\n      alert_color: alertLevel,\n      raw_text_summary: html.replace(/<[^>]*>?/gm, ' ').substring(0, 500)\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1072,
          -128
        ],
        "id": "5a8adb4e-d141-47e6-a972-cd19528b51a6",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "text": "=OPEN-METEO DATA:\nWind Gusts: {{ $node[\"Get OpenMeteo details\"].json.current.wind_gusts_10m }} km/h\nPrecipitation: {{ $node[\"Get OpenMeteo details\"].json.current.precipitation }} mm\n\nPAGASA REGIONAL FORECAST:\n{{ $node[\"Code in JavaScript\"].json.locations[0].location }}: {{ $node[\"Code in JavaScript\"].json.locations[0].forecast }}\nThunderstorm Alert: {{ $node[\"Code in JavaScript\"].json.alerts.thunderstorm }}\n\nGALE WARNING STATUS:\n{{ $node[\"Code in JavaScript1\"].json.status }}\nAffected Areas: {{ $node[\"Code in JavaScript1\"].json.affected_my_areas }}",
          "attributes": {
            "attributes": [
              {
                "name": "overall_risk",
                "description": "Rate the travel risk as \"LOW\", \"MODERATE\", or \"HIGH\" based on wind > 40km/h or Gale Warnings."
              },
              {
                "name": "boat_cancellation_likelihood",
                "description": "Percentage chance (0-100%) that boats between Cebu and Naval will be cancelled."
              },
              {
                "name": "message_summary",
                "description": "Write a short 2-3 line Discord update in the voice of Okarun (Ken Takakura) from Dandadan — a nerdy, dramatic, slightly awkward teenage boy who is obsessed with the occult and aliens. He speaks with intense passion and over-the-top energy. Use phrases like 'My readings indicate...', 'This is no ordinary storm!', 'I have analyzed the data!', or 'According to my calculations...'. Reference aliens or supernatural phenomena humorously if conditions are bad. Use emojis like ⚠️ 👽 🌊 🚢 🔭. Mention Biliran and the Cebu-Naval route specifically."
              },
              {
                "name": "is_emergency",
                "description": "Set to True only if a Gale Warning is active for Leyte/Biliran or Wind Gusts > 60km/h."
              }
            ]
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.informationExtractor",
        "typeVersion": 1.2,
        "position": [
          1296,
          -128
        ],
        "id": "478b1309-10d9-463d-a312-73fa523f6890",
        "name": "Information Extractor"
      },
      {
        "parameters": {
          "model": "google/gemini-2.0-flash-001",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1264,
          80
        ],
        "id": "8eac6ea0-9376-47a7-9301-220de8845257",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "g0Uby2vRiyVUwoAp",
            "name": "OpenRouter API Key"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "token-check-storm-001",
                "leftValue": "={{ $('When Executed by Another Workflow').item.json.body.token }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1680,
          -128
        ],
        "id": "b48bb03e-f8f2-40eb-b2aa-d083e5b1c5f7",
        "name": "Has Interaction Token? (Storm)"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://discord.com/api/v10/webhooks/{{ $('When Executed by Another Workflow').item.json.body.application_id }}/{{ $('When Executed by Another Workflow').item.json.body.token }}/messages/@original",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ content: $('Information Extractor').item.json.output.message_summary }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1952,
          -128
        ],
        "id": "3725ce97-fa0d-4f27-9aa1-a122ef56588a",
        "name": "Send Discord Follow-up (Storm)"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "db7e7f76-a976-4007-a39e-7f119f926e26",
                "name": "message",
                "value": "👽 My instruments detect NO paranormal storm activity over Biliran! 🚢 I have analyzed the PAGASA data and wind readings — the Cebu to Naval route appears to be safe for travel. ...Not that I was worried. I was simply being thorough.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          352,
          144
        ],
        "id": "bffc91fd-ce62-4649-ba73-c5dab6a5cfe4",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "token-check-clear-001",
                "leftValue": "={{ $('When Executed by Another Workflow').item.json.body.token }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          576,
          144
        ],
        "id": "97c176c0-a3a2-4410-8b4c-01d0a17ae4a4",
        "name": "Has Interaction Token? (Clear)"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://discord.com/api/v10/webhooks/{{ $('When Executed by Another Workflow').item.json.body.application_id }}/{{ $('When Executed by Another Workflow').item.json.body.token }}/messages/@original",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ content: $('Edit Fields').item.json.message }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          816,
          144
        ],
        "id": "abfb2b09-4deb-4cea-97ef-bcb228b90756",
        "name": "Send Discord Follow-up (Clear)"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get PAGASA SWB",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get OpenMeteo details",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Get PAGASA SWB",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get OpenMeteo details",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get PAGASA SWB": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get OpenMeteo details": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Get Visayas PAGASA Forecast",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Visayas PAGASA Forecast": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Information Extractor",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Information Extractor",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Information Extractor": {
        "main": [
          [
            {
              "node": "Has Interaction Token? (Storm)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Interaction Token? (Storm)": {
        "main": [
          [
            {
              "node": "Send Discord Follow-up (Storm)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Has Interaction Token? (Clear)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Interaction Token? (Clear)": {
        "main": [
          [
            {
              "node": "Send Discord Follow-up (Clear)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Andrea Baulita",
    "name": "Version 23aa8163",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "23aa8163-5bfe-4d12-a058-2bf6a7165a3b",
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get PAGASA SWB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get OpenMeteo details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get PAGASA SWB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get OpenMeteo details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PAGASA SWB": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get OpenMeteo details": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Visayas PAGASA Forecast",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Visayas PAGASA Forecast": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Has Interaction Token? (Storm)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Interaction Token? (Storm)": {
      "main": [
        [
          {
            "node": "Send Discord Follow-up (Storm)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Has Interaction Token? (Clear)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Interaction Token? (Clear)": {
      "main": [
        [
          {
            "node": "Send Discord Follow-up (Clear)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-21T12:29:37.061Z",
  "id": "re_Fucd_a-Lmv6Y4XBPus",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Okarun - Leyte Storm Watch",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -704,
        -256
      ],
      "id": "71e249c8-a555-40b1-9e5f-d011c829f2ac",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -704,
        -32
      ],
      "id": "4233be54-c459-4be1-962a-91847756249d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.pagasa.dost.gov.ph/tropical-cyclone/severe-weather-bulletin",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -384,
        -256
      ],
      "id": "85b4a48f-4c29-419c-9dfd-d90b2cbdff72",
      "name": "Get PAGASA SWB"
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=11.5622&longitude=124.3944&current=precipitation,wind_speed_10m,wind_gusts_10m&hourly=precipitation,wind_speed_10m,wind_gusts_10m&daily=wind_gusts_10m_max,precipitation_sum&timezone=Asia%2FManila&forecast_days=3",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -384,
        -32
      ],
      "id": "c3f3409c-c721-4141-a305-2f5a21964d51",
      "name": "Get OpenMeteo details"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -144,
        -128
      ],
      "id": "b546faad-82ad-4d21-9733-eaff733915e6",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "622793b2-0761-46b3-aa91-773f3db3e556",
              "leftValue": "={{ $json.data }}",
              "rightValue": "No Active Tropical Cyclone within the Philippine Area of Responsibility",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "5d7823bf-7eec-4328-8f25-31d1322d4a23",
              "leftValue": "={{ $json.current.wind_gusts_10m }}",
              "rightValue": 40,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "0ba3105b-8f8c-401d-b5d3-370e04679bc6",
              "leftValue": "={{ $json.current.precipitation }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        64,
        -128
      ],
      "id": "282a3d1e-35fe-458d-b376-2ac38cefccad",
      "name": "If"
    },
    {
      "parameters": {
        "url": "https://www.pagasa.dost.gov.ph/regional-forecast/visprsd",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        352,
        -128
      ],
      "id": "00c19d48-9372-41e1-94ea-3694022f6950",
      "name": "Get Visayas PAGASA Forecast"
    },
    {
      "parameters": {
        "jsCode": "// Get the HTML content\nconst html = $input.first().json.data || $input.first().json.body || \"\";\n\n// We'll look for these specific keys in the HTML\nconst targets = [\n  { label: \"Cebu\", search: \"Cebu City\" },\n  { label: \"Naval\", search: \"Naval\" },\n  { label: \"Biliran\", search: \"Biliran\" }\n];\n\nconst results = targets.map(target => {\n  const regex = new RegExp(`${target.search}[\\\\s\\\\S]{1,50}?<div[^>]*>([\\\\s\\\\S]{5,150}?)<\\\\/div>`, 'i');\n  const match = html.match(regex);\n  let forecastText = match ? match[1].replace(/<[^>]*>?/gm, '').trim() : \"Clear Skies\";\n  return { location: target.label, forecast: forecastText };\n});\n\nconst thunderstormAlert = html.match(/Thunderstorm (Watch|Information) #VISPRSD[\\s\\S]{1,500}?(within 12 hours|persist)/i);\nconst galeWarning = html.match(/Gale Warning[\\s\\S]{1,500}?(Rough to Very Rough)/i);\n\nreturn [\n  {\n    json: {\n      timestamp: new Date().toLocaleString(\"en-PH\", { timeZone: \"Asia/Manila\" }),\n      locations: results,\n      alerts: {\n        thunderstorm: thunderstormAlert ? thunderstormAlert[0].replace(/<[^>]*>?/gm, ' ').trim() : \"None\",\n        gale_warning: galeWarning ? \"ACTIVE GALE WARNING - Boats likely stopped\" : \"None\"\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -128
      ],
      "id": "6fcf4d55-ea62-4afe-8bbb-1a3c9f8077cc",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://www.pagasa.dost.gov.ph/marine/gale-warning",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        816,
        -128
      ],
      "id": "082775d5-2cc5-4883-8073-df69eb7568c9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data || $input.first().json.body || \"\";\n\nconst noWarningFound = html.includes(\"no Gale Warning Issued\") || html.includes(\"No active gale warning\");\nconst myZones = [\"Leyte\", \"Biliran\", \"Naval\", \"Carigara\", \"Ormoc\"];\nconst mentionedZones = myZones.filter(zone =>\n  new RegExp(`\\\\b${zone}\\\\b`, 'i').test(html)\n);\n\nlet boatStatus = \"PROBABLY OK\";\nlet alertLevel = \"Green\";\n\nif (!noWarningFound) {\n  boatStatus = \"WARNING ACTIVE - CHECK COAST GUARD\";\n  alertLevel = \"Yellow\";\n}\n\nif (mentionedZones.length > 0 && !noWarningFound) {\n  boatStatus = \"DANGER: LEYTE/BILIRAN AFFECTED - BOATS LIKELY STOPPED\";\n  alertLevel = \"Red\";\n}\n\nreturn [\n  {\n    json: {\n      timestamp: new Date().toLocaleString(\"en-PH\", { timeZone: \"Asia/Manila\" }),\n      is_gale_active: !noWarningFound,\n      affected_my_areas: mentionedZones,\n      status: boatStatus,\n      alert_color: alertLevel,\n      raw_text_summary: html.replace(/<[^>]*>?/gm, ' ').substring(0, 500)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        -128
      ],
      "id": "5a8adb4e-d141-47e6-a972-cd19528b51a6",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "text": "=OPEN-METEO DATA:\nWind Gusts: {{ $node[\"Get OpenMeteo details\"].json.current.wind_gusts_10m }} km/h\nPrecipitation: {{ $node[\"Get OpenMeteo details\"].json.current.precipitation }} mm\n\nPAGASA REGIONAL FORECAST:\n{{ $node[\"Code in JavaScript\"].json.locations[0].location }}: {{ $node[\"Code in JavaScript\"].json.locations[0].forecast }}\nThunderstorm Alert: {{ $node[\"Code in JavaScript\"].json.alerts.thunderstorm }}\n\nGALE WARNING STATUS:\n{{ $node[\"Code in JavaScript1\"].json.status }}\nAffected Areas: {{ $node[\"Code in JavaScript1\"].json.affected_my_areas }}",
        "attributes": {
          "attributes": [
            {
              "name": "overall_risk",
              "description": "Rate the travel risk as \"LOW\", \"MODERATE\", or \"HIGH\" based on wind > 40km/h or Gale Warnings."
            },
            {
              "name": "boat_cancellation_likelihood",
              "description": "Percentage chance (0-100%) that boats between Cebu and Naval will be cancelled."
            },
            {
              "name": "message_summary",
              "description": "Write a short 2-3 line Discord update in the voice of Okarun (Ken Takakura) from Dandadan — a nerdy, dramatic, slightly awkward teenage boy who is obsessed with the occult and aliens. He speaks with intense passion and over-the-top energy. Use phrases like 'My readings indicate...', 'This is no ordinary storm!', 'I have analyzed the data!', or 'According to my calculations...'. Reference aliens or supernatural phenomena humorously if conditions are bad. Use emojis like ⚠️ 👽 🌊 🚢 🔭. Mention Biliran and the Cebu-Naval route specifically."
            },
            {
              "name": "is_emergency",
              "description": "Set to True only if a Gale Warning is active for Leyte/Biliran or Wind Gusts > 60km/h."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        1296,
        -128
      ],
      "id": "478b1309-10d9-463d-a312-73fa523f6890",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1264,
        80
      ],
      "id": "8eac6ea0-9376-47a7-9301-220de8845257",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "g0Uby2vRiyVUwoAp",
          "name": "OpenRouter API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "token-check-storm-001",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.body.token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1680,
        -128
      ],
      "id": "b48bb03e-f8f2-40eb-b2aa-d083e5b1c5f7",
      "name": "Has Interaction Token? (Storm)"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://discord.com/api/v10/webhooks/{{ $('When Executed by Another Workflow').item.json.body.application_id }}/{{ $('When Executed by Another Workflow').item.json.body.token }}/messages/@original",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $('Information Extractor').item.json.output.message_summary }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1952,
        -128
      ],
      "id": "3725ce97-fa0d-4f27-9aa1-a122ef56588a",
      "name": "Send Discord Follow-up (Storm)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db7e7f76-a976-4007-a39e-7f119f926e26",
              "name": "message",
              "value": "👽 My instruments detect NO paranormal storm activity over Biliran! 🚢 I have analyzed the PAGASA data and wind readings — the Cebu to Naval route appears to be safe for travel. ...Not that I was worried. I was simply being thorough.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        144
      ],
      "id": "bffc91fd-ce62-4649-ba73-c5dab6a5cfe4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "token-check-clear-001",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.body.token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        576,
        144
      ],
      "id": "97c176c0-a3a2-4410-8b4c-01d0a17ae4a4",
      "name": "Has Interaction Token? (Clear)"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://discord.com/api/v10/webhooks/{{ $('When Executed by Another Workflow').item.json.body.application_id }}/{{ $('When Executed by Another Workflow').item.json.body.token }}/messages/@original",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $('Edit Fields').item.json.message }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        816,
        144
      ],
      "id": "abfb2b09-4deb-4cea-97ef-bcb228b90756",
      "name": "Send Discord Follow-up (Clear)"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-03-31T09:00:56.019+08:00",
          "Readable date": "March 31st 2026, 9:00:56 am",
          "Readable time": "9:00:56 am",
          "Day of week": "Tuesday",
          "Year": "2026",
          "Month": "March",
          "Day of month": "31",
          "Hour": "09",
          "Minute": "00",
          "Second": "56",
          "Timezone": "Asia/Manila (UTC+08:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo": {
    "owner": "sanashii",
    "name": "n8n-backups"
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-30T10:09:43.064Z",
      "createdAt": "2026-03-30T10:09:43.064Z",
      "role": "workflow:owner",
      "workflowId": "re_Fucd_a-Lmv6Y4XBPus",
      "projectId": "9C1xKZgwyby4oLqC"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        6
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-31T05:05:33.112Z",
  "versionId": "23aa8163-5bfe-4d12-a058-2bf6a7165a3b"
}