VA62APiZhB64ExPk.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-01T11:44:26.000Z",
    "createdAt": "2026-04-01T11:44:25.246Z",
    "versionId": "0effbaac-d0f5-4b19-91cf-1960acd2e83c",
    "workflowId": "VA62APiZhB64ExPk",
    "nodes": [
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "{\"type\": 5}",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          -656,
          320
        ],
        "id": "d2bb8cd5-b865-4404-b406-1910a43b436e",
        "name": "Respond to Webhook — Deferred (type 5)"
      },
      {
        "parameters": {
          "jsCode": "const nacl = require(\"tweetnacl\");\nconst { Buffer } = require('buffer');\n\nconst PUBLIC_KEY = '051f49a7773374dcb252d1ad2af3a2c913581e5916265a70d58c57e598a6e652';\nconst webhookData = $('Webhook').first().json;\n\nconst signature = webhookData.headers[\"x-signature-ed25519\"];\nconst timestamp  = webhookData.headers[\"x-signature-timestamp\"];\nconst body = JSON.stringify(webhookData.body);\n\nconst isVerified = nacl.sign.detached.verify(\n  Buffer.from(timestamp + body),\n  Buffer.from(signature, \"hex\"),\n  Buffer.from(PUBLIC_KEY, \"hex\")\n);\n\nif (!isVerified) {\n  return [{ json: { type: 0 } }];\n}\n\nif (webhookData.body.type === 1) {\n  return [{ json: { type: 1 } }];\n}\n\n// Pass through full webhook data for slash commands (type 2)\nreturn [{ json: webhookData }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1312,
          608
        ],
        "id": "59a61d76-96ae-4035-81a4-c6b9265da535",
        "name": "Verification1",
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c8e85b66-2c93-4bbb-937e-0c74b290d1ba",
                "leftValue": "={{ $json.type }}",
                "rightValue": "=0",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -928,
          336
        ],
        "id": "dc2d0cc2-af7d-408a-ad73-d71016bc622b",
        "name": "If1"
      },
      {
        "parameters": {
          "options": {
            "responseCode": 401
          }
        },
        "name": "Failed",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          -896,
          592
        ],
        "id": "ef05cf3e-5ab5-4ba3-a575-f6f66e34f865",
        "disabled": true
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json.toJsonString() }}",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          -896,
          736
        ],
        "id": "4a4cfed4-bb5b-4172-ba4b-7925bcf986b0",
        "name": "Respond to Webhook",
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c8e85b66-2c93-4bbb-937e-0c74b290d1ba",
                "leftValue": "={{ $json.type }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1136,
          608
        ],
        "id": "b65735a8-d10f-4fa8-8bb1-cafc65ec1f8e",
        "name": "If",
        "disabled": true
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "momo-interactions",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1152,
          336
        ],
        "id": "6470b89a-be05-414d-b312-8d9caedc239f",
        "name": "Webhook",
        "webhookId": "d533133ff-a619-4311-a633-2623b4e311de"
      },
      {
        "parameters": {
          "content": "## INTERACTIVITY URL SETUP",
          "height": 352,
          "width": 736
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1408,
          544
        ],
        "id": "ef9fae93-4e54-4471-af9c-c9e6be23a784",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.data.name }}",
                      "rightValue": "recipe_builder",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "038cabd2-c4b3-4a8a-81a0-53c92f02ce35"
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -448,
          320
        ],
        "id": "893a4b97-33c1-468b-a385-5d8a2f95df2a",
        "name": "Switch1"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "Up4KGrrHkSQtIQCZ",
            "mode": "list",
            "cachedResultUrl": "/workflow/Up4KGrrHkSQtIQCZ",
            "cachedResultName": "Momo - Recipe Builder"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -240,
          320
        ],
        "id": "b730618c-3342-4494-92df-612b39ab7b9e",
        "name": "Call 'Momo - Recipe Builder'"
      }
    ],
    "connections": {
      "Respond to Webhook — Deferred (type 5)": {
        "main": [
          [
            {
              "node": "Switch1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verification1": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Respond to Webhook — Deferred (type 5)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Failed",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch1": {
        "main": [
          [
            {
              "node": "Call 'Momo - Recipe Builder'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Andrea Baulita",
    "name": "Version 0effbaac",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "0effbaac-d0f5-4b19-91cf-1960acd2e83c",
  "connections": {
    "Respond to Webhook — Deferred (type 5)": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verification1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Respond to Webhook — Deferred (type 5)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Call 'Momo - Recipe Builder'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-01T11:33:35.421Z",
  "id": "VA62APiZhB64ExPk",
  "isArchived": false,
  "meta": null,
  "name": "[1] Momo - Main Workflow",
  "nodes": [
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "{\"type\": 5}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -656,
        320
      ],
      "id": "d2bb8cd5-b865-4404-b406-1910a43b436e",
      "name": "Respond to Webhook — Deferred (type 5)"
    },
    {
      "parameters": {
        "jsCode": "const nacl = require(\"tweetnacl\");\nconst { Buffer } = require('buffer');\n\nconst PUBLIC_KEY = '051f49a7773374dcb252d1ad2af3a2c913581e5916265a70d58c57e598a6e652';\nconst webhookData = $('Webhook').first().json;\n\nconst signature = webhookData.headers[\"x-signature-ed25519\"];\nconst timestamp  = webhookData.headers[\"x-signature-timestamp\"];\nconst body = JSON.stringify(webhookData.body);\n\nconst isVerified = nacl.sign.detached.verify(\n  Buffer.from(timestamp + body),\n  Buffer.from(signature, \"hex\"),\n  Buffer.from(PUBLIC_KEY, \"hex\")\n);\n\nif (!isVerified) {\n  return [{ json: { type: 0 } }];\n}\n\nif (webhookData.body.type === 1) {\n  return [{ json: { type: 1 } }];\n}\n\n// Pass through full webhook data for slash commands (type 2)\nreturn [{ json: webhookData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        608
      ],
      "id": "59a61d76-96ae-4035-81a4-c6b9265da535",
      "name": "Verification1",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c8e85b66-2c93-4bbb-937e-0c74b290d1ba",
              "leftValue": "={{ $json.type }}",
              "rightValue": "=0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -928,
        336
      ],
      "id": "dc2d0cc2-af7d-408a-ad73-d71016bc622b",
      "name": "If1"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 401
        }
      },
      "name": "Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -896,
        592
      ],
      "id": "ef05cf3e-5ab5-4ba3-a575-f6f66e34f865",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.toJsonString() }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -896,
        736
      ],
      "id": "4a4cfed4-bb5b-4172-ba4b-7925bcf986b0",
      "name": "Respond to Webhook",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c8e85b66-2c93-4bbb-937e-0c74b290d1ba",
              "leftValue": "={{ $json.type }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1136,
        608
      ],
      "id": "b65735a8-d10f-4fa8-8bb1-cafc65ec1f8e",
      "name": "If",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "momo-interactions",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1152,
        336
      ],
      "id": "6470b89a-be05-414d-b312-8d9caedc239f",
      "name": "Webhook",
      "webhookId": "d533133ff-a619-4311-a633-2623b4e311de"
    },
    {
      "parameters": {
        "content": "## INTERACTIVITY URL SETUP",
        "height": 352,
        "width": 736
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1408,
        544
      ],
      "id": "ef9fae93-4e54-4471-af9c-c9e6be23a784",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.data.name }}",
                    "rightValue": "recipe_builder",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "038cabd2-c4b3-4a8a-81a0-53c92f02ce35"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -448,
        320
      ],
      "id": "893a4b97-33c1-468b-a385-5d8a2f95df2a",
      "name": "Switch1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Up4KGrrHkSQtIQCZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/Up4KGrrHkSQtIQCZ",
          "cachedResultName": "Momo - Recipe Builder"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -240,
        320
      ],
      "id": "b730618c-3342-4494-92df-612b39ab7b9e",
      "name": "Call 'Momo - Recipe Builder'"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1541552.hstgr.cloud",
            "user-agent": "Discord-Interactions/1.0 (+https://discord.com)",
            "content-length": "1948",
            "content-type": "application/json",
            "x-forwarded-for": "35.237.4.214",
            "x-forwarded-host": "n8n.srv1541552.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "bed0e4eeabd6",
            "x-real-ip": "35.237.4.214",
            "x-signature-ed25519": "603e6782128ae288eea4bab71750dbd403dfe05024336c8989a7606d1db056ca70e5cde7305f16277bfc6acfb5be6c6ac983babdae98f6cb88242f7d03110800",
            "x-signature-timestamp": "1774933714",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "app_permissions": "9007199254740991",
            "application_id": "1488071194669481994",
            "attachment_size_limit": 10485760,
            "authorizing_integration_owners": {
              "0": "1488068132198420564"
            },
            "channel": {
              "flags": 0,
              "guild_id": "1488068132198420564",
              "id": "1488083586870677524",
              "last_message_id": "1488404395266670602",
              "name": "leyte-storm-watch",
              "nsfw": false,
              "parent_id": "1488068134190448842",
              "permissions": "9007199254740991",
              "position": 6,
              "rate_limit_per_user": 0,
              "topic": null,
              "type": 0
            },
            "channel_id": "1488083586870677524",
            "context": 0,
            "data": {
              "id": "1488103431280525362",
              "name": "conversion",
              "options": [
                {
                  "name": "base_currency",
                  "type": 3,
                  "value": "10000"
                }
              ],
              "type": 1
            },
            "entitlement_sku_ids": [],
            "entitlements": [],
            "guild": {
              "features": [],
              "id": "1488068132198420564",
              "locale": "en-US"
            },
            "guild_id": "1488068132198420564",
            "guild_locale": "en-US",
            "id": "1488404617611051018",
            "locale": "en-US",
            "member": {
              "avatar": null,
              "banner": null,
              "communication_disabled_until": null,
              "deaf": false,
              "flags": 0,
              "joined_at": "2026-03-30T06:51:30.063000+00:00",
              "mute": false,
              "nick": null,
              "pending": false,
              "permissions": "9007199254740991",
              "premium_since": null,
              "roles": [],
              "unusual_dm_activity_until": null,
              "user": {
                "avatar": "bb6ed7d43d509fe7c95a591cad61f4fa",
                "avatar_decoration_data": {
                  "asset": "a_024b0379f56da1e61a0480bf7e1080ca",
                  "expires_at": null,
                  "sku_id": "1481384635886862397"
                },
                "clan": null,
                "collectibles": {
                  "nameplate": {
                    "asset": "nameplates/spider-man/1481388758455550114/",
                    "expires_at": null,
                    "label": "A glowing red and black spider resting on blue-white spider webs",
                    "palette": "crimson",
                    "sku_id": "1481388758455550114"
                  }
                },
                "discriminator": "0",
                "display_name_styles": null,
                "global_name": "sanashii",
                "id": "550449378205106196",
                "primary_guild": null,
                "public_flags": 64,
                "username": "sanashii1"
              }
            },
            "token": "aW50ZXJhY3Rpb246MTQ4ODQwNDYxNzYxMTA1MTAxODpYemNZbkN4bEdtUTEzUFhCUDJibndubXg5NHZHTndhVkpPOHFGdnlVeUxGNjQ3SWpoT1ZWMHZ2dkZtT3RRS3lMQWRGVGIwUnJnb0h3TjBYekszV0UxdjZ5MHZyQzlnbE9IV25yV2lwTUlHczdQeEcxVkpjbVdTalVzSUJGSktVeQ",
            "type": 2,
            "version": 1
          },
          "webhookUrl": "https://n8n.srv1541552.hstgr.cloud/webhook/okarun-interactions",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo": {
    "owner": "sanashii",
    "name": "n8n-backups"
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-04-01T11:33:35.422Z",
      "createdAt": "2026-04-01T11:33:35.422Z",
      "role": "workflow:owner",
      "workflowId": "VA62APiZhB64ExPk",
      "projectId": "9C1xKZgwyby4oLqC"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-01T11:44:25.244Z",
  "versionId": "0effbaac-d0f5-4b19-91cf-1960acd2e83c"
}