yGILp5JFqCO2FWU6ADcvn.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-31T09:44:24.000Z",
    "createdAt": "2026-03-31T09:44:17.523Z",
    "versionId": "0664c845-a8c4-48a6-b626-ff610305c341",
    "workflowId": "yGILp5JFqCO2FWU6ADcvn",
    "nodes": [
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "{\"type\": 5}",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          704,
          48
        ],
        "id": "dae92dfd-923b-4cfb-80b7-8d1f3bca63cd",
        "name": "Respond to Webhook — Deferred (type 5)"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "okarun-interactions",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          48,
          48
        ],
        "id": "52d87898-eb2d-4012-a8a1-b476f2b93c46",
        "name": "Webhook1",
        "webhookId": "d533133ff-a619-4311-a633-2623b4e311de"
      },
      {
        "parameters": {
          "jsCode": "const nacl = require(\"tweetnacl\");\nconst { Buffer } = require('buffer');\n\nconst PUBLIC_KEY = '8d5db93566a037ca43d54f5c208904c24b0fd4dc3d672ed69bf73c593893c010';\nconst webhookData = $('Webhook1').first().json;\n\nconst signature = webhookData.headers[\"x-signature-ed25519\"];\nconst timestamp  = webhookData.headers[\"x-signature-timestamp\"];\nconst body = JSON.stringify(webhookData.body);\n\nconst isVerified = nacl.sign.detached.verify(\n  Buffer.from(timestamp + body),\n  Buffer.from(signature, \"hex\"),\n  Buffer.from(PUBLIC_KEY, \"hex\")\n);\n\nif (!isVerified) {\n  return [{ json: { type: 0 } }];\n}\n\nif (webhookData.body.type === 1) {\n  return [{ json: { type: 1 } }];\n}\n\n// Pass through full webhook data for slash commands (type 2)\nreturn [{ json: webhookData }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          256,
          48
        ],
        "id": "acfa68c7-b8ef-4a7f-b6f3-5c1bb5cc1dc6",
        "name": "Verification1",
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c8e85b66-2c93-4bbb-937e-0c74b290d1ba",
                "leftValue": "={{ $json.type }}",
                "rightValue": "=0",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          448,
          48
        ],
        "id": "82cf04d7-707c-4d29-818a-ea1943957a3d",
        "name": "If1"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.data.name }}",
                      "rightValue": "biliran_storm_watch",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "038cabd2-c4b3-4a8a-81a0-53c92f02ce35"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "db11649b-5f7d-4983-a620-f1eb5da197e6",
                      "leftValue": "={{ $json.body.data.name }}",
                      "rightValue": "conversion",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "fbba8ead-c8c9-423d-a788-d4905673242c",
                      "leftValue": "={{ $json.body.data.name }}",
                      "rightValue": "tax",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "56fd5629-fa8e-4cad-9cd9-17ed90f84861",
                      "leftValue": "={{ $json.body.data.name }}",
                      "rightValue": "contributions",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          912,
          32
        ],
        "id": "5e672887-969a-4ee1-97b6-1865ba0909d3",
        "name": "Switch1"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "peXxGgCgpTpBHbrQ",
            "mode": "list",
            "cachedResultUrl": "/workflow/peXxGgCgpTpBHbrQ",
            "cachedResultName": "Okarun - USD to PHP"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1200,
          -32
        ],
        "id": "0b7fdcda-4c26-498e-a8f6-a211e1f0d94b",
        "name": "Call 'Okarun - USD to PHP'"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "re_Fucd_a-Lmv6Y4XBPus",
            "mode": "list",
            "cachedResultUrl": "/workflow/re_Fucd_a-Lmv6Y4XBPus",
            "cachedResultName": "Okarun - Leyte Storm Watch"
          },
          "workflowInputs": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1200,
          -192
        ],
        "id": "775c57c2-9137-4a91-9501-558763d978b8",
        "name": "Call 'Leyte Storm Watch'"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "LqsfA3umOrmWbwNK",
            "mode": "list",
            "cachedResultUrl": "/workflow/LqsfA3umOrmWbwNK",
            "cachedResultName": "Okarun - Tax Computation"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1200,
          144
        ],
        "id": "e5f2a2a3-c409-4568-a364-8efe42016132",
        "name": "Call 'Okarun - Tax Computation'"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "AXmBF4NCtLcmlQUP",
            "mode": "list",
            "cachedResultUrl": "/workflow/AXmBF4NCtLcmlQUP",
            "cachedResultName": "Okarun - Government Contributions"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {}
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1200,
          320
        ],
        "id": "28c0d050-3a99-4f5d-8969-471df588b1d3",
        "name": "Call 'Okarun - Government Contributions'"
      }
    ],
    "connections": {
      "Respond to Webhook — Deferred (type 5)": {
        "main": [
          [
            {
              "node": "Switch1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook1": {
        "main": [
          [
            {
              "node": "Verification1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verification1": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Respond to Webhook — Deferred (type 5)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch1": {
        "main": [
          [
            {
              "node": "Call 'Leyte Storm Watch'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call 'Okarun - USD to PHP'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call 'Okarun - Tax Computation'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call 'Okarun - Government Contributions'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Andrea Baulita",
    "name": "Version 0664c845",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "0664c845-a8c4-48a6-b626-ff610305c341",
  "connections": {
    "Respond to Webhook — Deferred (type 5)": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Verification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verification1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Respond to Webhook — Deferred (type 5)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Call 'Leyte Storm Watch'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Okarun - USD to PHP'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Okarun - Tax Computation'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Okarun - Government Contributions'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-30T06:43:40.696Z",
  "id": "yGILp5JFqCO2FWU6ADcvn",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[1] Okarun Main Workflow",
  "nodes": [
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "{\"type\": 5}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        704,
        48
      ],
      "id": "dae92dfd-923b-4cfb-80b7-8d1f3bca63cd",
      "name": "Respond to Webhook — Deferred (type 5)"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "okarun-interactions",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        48
      ],
      "id": "52d87898-eb2d-4012-a8a1-b476f2b93c46",
      "name": "Webhook1",
      "webhookId": "d533133ff-a619-4311-a633-2623b4e311de"
    },
    {
      "parameters": {
        "jsCode": "const nacl = require(\"tweetnacl\");\nconst { Buffer } = require('buffer');\n\nconst PUBLIC_KEY = '8d5db93566a037ca43d54f5c208904c24b0fd4dc3d672ed69bf73c593893c010';\nconst webhookData = $('Webhook1').first().json;\n\nconst signature = webhookData.headers[\"x-signature-ed25519\"];\nconst timestamp  = webhookData.headers[\"x-signature-timestamp\"];\nconst body = JSON.stringify(webhookData.body);\n\nconst isVerified = nacl.sign.detached.verify(\n  Buffer.from(timestamp + body),\n  Buffer.from(signature, \"hex\"),\n  Buffer.from(PUBLIC_KEY, \"hex\")\n);\n\nif (!isVerified) {\n  return [{ json: { type: 0 } }];\n}\n\nif (webhookData.body.type === 1) {\n  return [{ json: { type: 1 } }];\n}\n\n// Pass through full webhook data for slash commands (type 2)\nreturn [{ json: webhookData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        48
      ],
      "id": "acfa68c7-b8ef-4a7f-b6f3-5c1bb5cc1dc6",
      "name": "Verification1",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c8e85b66-2c93-4bbb-937e-0c74b290d1ba",
              "leftValue": "={{ $json.type }}",
              "rightValue": "=0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        48
      ],
      "id": "82cf04d7-707c-4d29-818a-ea1943957a3d",
      "name": "If1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.data.name }}",
                    "rightValue": "biliran_storm_watch",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "038cabd2-c4b3-4a8a-81a0-53c92f02ce35"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "db11649b-5f7d-4983-a620-f1eb5da197e6",
                    "leftValue": "={{ $json.body.data.name }}",
                    "rightValue": "conversion",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fbba8ead-c8c9-423d-a788-d4905673242c",
                    "leftValue": "={{ $json.body.data.name }}",
                    "rightValue": "tax",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "56fd5629-fa8e-4cad-9cd9-17ed90f84861",
                    "leftValue": "={{ $json.body.data.name }}",
                    "rightValue": "contributions",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        912,
        32
      ],
      "id": "5e672887-969a-4ee1-97b6-1865ba0909d3",
      "name": "Switch1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "peXxGgCgpTpBHbrQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/peXxGgCgpTpBHbrQ",
          "cachedResultName": "Okarun - USD to PHP"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1200,
        -32
      ],
      "id": "0b7fdcda-4c26-498e-a8f6-a211e1f0d94b",
      "name": "Call 'Okarun - USD to PHP'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "re_Fucd_a-Lmv6Y4XBPus",
          "mode": "list",
          "cachedResultUrl": "/workflow/re_Fucd_a-Lmv6Y4XBPus",
          "cachedResultName": "Okarun - Leyte Storm Watch"
        },
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1200,
        -192
      ],
      "id": "775c57c2-9137-4a91-9501-558763d978b8",
      "name": "Call 'Leyte Storm Watch'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LqsfA3umOrmWbwNK",
          "mode": "list",
          "cachedResultUrl": "/workflow/LqsfA3umOrmWbwNK",
          "cachedResultName": "Okarun - Tax Computation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1200,
        144
      ],
      "id": "e5f2a2a3-c409-4568-a364-8efe42016132",
      "name": "Call 'Okarun - Tax Computation'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AXmBF4NCtLcmlQUP",
          "mode": "list",
          "cachedResultUrl": "/workflow/AXmBF4NCtLcmlQUP",
          "cachedResultName": "Okarun - Government Contributions"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1200,
        320
      ],
      "id": "28c0d050-3a99-4f5d-8969-471df588b1d3",
      "name": "Call 'Okarun - Government Contributions'"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1541552.hstgr.cloud",
            "user-agent": "Discord-Interactions/1.0 (+https://discord.com)",
            "content-length": "1948",
            "content-type": "application/json",
            "x-forwarded-for": "35.237.4.214",
            "x-forwarded-host": "n8n.srv1541552.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "bed0e4eeabd6",
            "x-real-ip": "35.237.4.214",
            "x-signature-ed25519": "603e6782128ae288eea4bab71750dbd403dfe05024336c8989a7606d1db056ca70e5cde7305f16277bfc6acfb5be6c6ac983babdae98f6cb88242f7d03110800",
            "x-signature-timestamp": "1774933714",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "app_permissions": "9007199254740991",
            "application_id": "1488071194669481994",
            "attachment_size_limit": 10485760,
            "authorizing_integration_owners": {
              "0": "1488068132198420564"
            },
            "channel": {
              "flags": 0,
              "guild_id": "1488068132198420564",
              "id": "1488083586870677524",
              "last_message_id": "1488404395266670602",
              "name": "leyte-storm-watch",
              "nsfw": false,
              "parent_id": "1488068134190448842",
              "permissions": "9007199254740991",
              "position": 6,
              "rate_limit_per_user": 0,
              "topic": null,
              "type": 0
            },
            "channel_id": "1488083586870677524",
            "context": 0,
            "data": {
              "id": "1488103431280525362",
              "name": "conversion",
              "options": [
                {
                  "name": "base_currency",
                  "type": 3,
                  "value": "10000"
                }
              ],
              "type": 1
            },
            "entitlement_sku_ids": [],
            "entitlements": [],
            "guild": {
              "features": [],
              "id": "1488068132198420564",
              "locale": "en-US"
            },
            "guild_id": "1488068132198420564",
            "guild_locale": "en-US",
            "id": "1488404617611051018",
            "locale": "en-US",
            "member": {
              "avatar": null,
              "banner": null,
              "communication_disabled_until": null,
              "deaf": false,
              "flags": 0,
              "joined_at": "2026-03-30T06:51:30.063000+00:00",
              "mute": false,
              "nick": null,
              "pending": false,
              "permissions": "9007199254740991",
              "premium_since": null,
              "roles": [],
              "unusual_dm_activity_until": null,
              "user": {
                "avatar": "bb6ed7d43d509fe7c95a591cad61f4fa",
                "avatar_decoration_data": {
                  "asset": "a_024b0379f56da1e61a0480bf7e1080ca",
                  "expires_at": null,
                  "sku_id": "1481384635886862397"
                },
                "clan": null,
                "collectibles": {
                  "nameplate": {
                    "asset": "nameplates/spider-man/1481388758455550114/",
                    "expires_at": null,
                    "label": "A glowing red and black spider resting on blue-white spider webs",
                    "palette": "crimson",
                    "sku_id": "1481388758455550114"
                  }
                },
                "discriminator": "0",
                "display_name_styles": null,
                "global_name": "sanashii",
                "id": "550449378205106196",
                "primary_guild": null,
                "public_flags": 64,
                "username": "sanashii1"
              }
            },
            "token": "aW50ZXJhY3Rpb246MTQ4ODQwNDYxNzYxMTA1MTAxODpYemNZbkN4bEdtUTEzUFhCUDJibndubXg5NHZHTndhVkpPOHFGdnlVeUxGNjQ3SWpoT1ZWMHZ2dkZtT3RRS3lMQWRGVGIwUnJnb0h3TjBYekszV0UxdjZ5MHZyQzlnbE9IV25yV2lwTUlHczdQeEcxVkpjbVdTalVzSUJGSktVeQ",
            "type": 2,
            "version": 1
          },
          "webhookUrl": "https://n8n.srv1541552.hstgr.cloud/webhook/okarun-interactions",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo": {
    "owner": "sanashii",
    "name": "n8n-backups"
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-30T10:09:43.085Z",
      "createdAt": "2026-03-30T10:09:43.085Z",
      "role": "workflow:owner",
      "workflowId": "yGILp5JFqCO2FWU6ADcvn",
      "projectId": "9C1xKZgwyby4oLqC"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-31T09:44:17.523Z",
  "versionId": "0664c845-a8c4-48a6-b626-ff610305c341"
}