yGILp5JFqCO2FWU6ADcvn.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-30T22:42:06.000Z",
    "createdAt": "2026-03-30T22:42:04.326Z",
    "versionId": "45f1f86b-dba4-4d70-b594-61da3d657afc",
    "workflowId": "yGILp5JFqCO2FWU6ADcvn",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "okarun-interactions",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -800,
          -192
        ],
        "id": "06a9249e-9419-4b55-abe3-63cb29009155",
        "name": "Webhook",
        "webhookId": "d533133ff-a619-4311-a633-2623b4e311de"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json.toJsonString() }}",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          -160,
          -64
        ],
        "id": "c9f7d2f3-2a24-4b9a-acae-a4b979e58139",
        "name": "Respond to Webhook",
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c8e85b66-2c93-4bbb-937e-0c74b290d1ba",
                "leftValue": "={{ $json.type }}",
                "rightValue": "=0",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -400,
          -192
        ],
        "id": "9d178a83-7965-4d6f-b04c-1d8fb5aec83b",
        "name": "If"
      },
      {
        "parameters": {
          "jsCode": "const nacl = require(\"tweetnacl\");\nconst { Buffer } = require('buffer');\n\nconst PUBLIC_KEY = '8d5db93566a037ca43d54f5c208904c24b0fd4dc3d672ed69bf73c593893c010';\nconst webhookData = $('Webhook').first().json;\n\nconst signature = webhookData.headers[\"x-signature-ed25519\"];\nconst timestamp  = webhookData.headers[\"x-signature-timestamp\"];\nconst body = JSON.stringify(webhookData.body);\n\nconst isVerified = nacl.sign.detached.verify(\n  Buffer.from(timestamp + body),\n  Buffer.from(signature, \"hex\"),\n  Buffer.from(PUBLIC_KEY, \"hex\")\n);\n\nif (!isVerified) {\n  return [{ json: { type: 0 } }];\n}\n\nif (webhookData.body.type === 1) {\n  return [{ json: { type: 1 } }];\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -592,
          -192
        ],
        "id": "14a0c84f-5683-4916-bf5b-f0cf48dde2ba",
        "name": "Verification",
        "disabled": true
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.data.name }}",
                      "rightValue": "get_storm_watch",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "038cabd2-c4b3-4a8a-81a0-53c92f02ce35"
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -160,
          -288
        ],
        "id": "39bde042-b0b2-4759-8b25-9337564ac1fb",
        "name": "Switch"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "re_Fucd_a-Lmv6Y4XBPus",
            "mode": "list",
            "cachedResultUrl": "/workflow/re_Fucd_a-Lmv6Y4XBPus",
            "cachedResultName": "Leyte Storm Watch"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          64,
          -288
        ],
        "id": "0b6a197f-4972-448f-b894-89c0790968ea",
        "name": "Call 'Leyte Storm Watch'"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Verification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verification": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Call 'Leyte Storm Watch'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Andrea Baulita",
    "name": "Version 45f1f86b",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "45f1f86b-dba4-4d70-b594-61da3d657afc",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verification": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call 'Leyte Storm Watch'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-30T06:43:40.696Z",
  "id": "yGILp5JFqCO2FWU6ADcvn",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Okarun Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "okarun-interactions",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -800,
        -192
      ],
      "id": "06a9249e-9419-4b55-abe3-63cb29009155",
      "name": "Webhook",
      "webhookId": "d533133ff-a619-4311-a633-2623b4e311de"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.toJsonString() }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -160,
        -64
      ],
      "id": "c9f7d2f3-2a24-4b9a-acae-a4b979e58139",
      "name": "Respond to Webhook",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c8e85b66-2c93-4bbb-937e-0c74b290d1ba",
              "leftValue": "={{ $json.type }}",
              "rightValue": "=0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -400,
        -192
      ],
      "id": "9d178a83-7965-4d6f-b04c-1d8fb5aec83b",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const nacl = require(\"tweetnacl\");\nconst { Buffer } = require('buffer');\n\nconst PUBLIC_KEY = '8d5db93566a037ca43d54f5c208904c24b0fd4dc3d672ed69bf73c593893c010';\nconst webhookData = $('Webhook').first().json;\n\nconst signature = webhookData.headers[\"x-signature-ed25519\"];\nconst timestamp  = webhookData.headers[\"x-signature-timestamp\"];\nconst body = JSON.stringify(webhookData.body);\n\nconst isVerified = nacl.sign.detached.verify(\n  Buffer.from(timestamp + body),\n  Buffer.from(signature, \"hex\"),\n  Buffer.from(PUBLIC_KEY, \"hex\")\n);\n\nif (!isVerified) {\n  return [{ json: { type: 0 } }];\n}\n\nif (webhookData.body.type === 1) {\n  return [{ json: { type: 1 } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        -192
      ],
      "id": "14a0c84f-5683-4916-bf5b-f0cf48dde2ba",
      "name": "Verification",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.data.name }}",
                    "rightValue": "get_storm_watch",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "038cabd2-c4b3-4a8a-81a0-53c92f02ce35"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -160,
        -288
      ],
      "id": "39bde042-b0b2-4759-8b25-9337564ac1fb",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "re_Fucd_a-Lmv6Y4XBPus",
          "mode": "list",
          "cachedResultUrl": "/workflow/re_Fucd_a-Lmv6Y4XBPus",
          "cachedResultName": "Leyte Storm Watch"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        64,
        -288
      ],
      "id": "0b6a197f-4972-448f-b894-89c0790968ea",
      "name": "Call 'Leyte Storm Watch'"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1541552.hstgr.cloud",
            "user-agent": "Discord-Interactions/1.0 (+https://discord.com)",
            "content-length": "1947",
            "content-type": "application/json",
            "x-forwarded-for": "35.237.4.214",
            "x-forwarded-host": "n8n.srv1541552.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "bed0e4eeabd6",
            "x-real-ip": "35.237.4.214",
            "x-signature-ed25519": "c287e8cd1283096f2a530468b67b169b06096fe70540bcfa6523ad849c21954c8ea790fda0ff2b6e232d3f14ff278076dec9bd26059e5d4589da25aa93bae505",
            "x-signature-timestamp": "1774910494",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "app_permissions": "9007199254740991",
            "application_id": "1488071194669481994",
            "attachment_size_limit": 10485760,
            "authorizing_integration_owners": {
              "0": "1488068132198420564"
            },
            "channel": {
              "flags": 0,
              "guild_id": "1488068132198420564",
              "id": "1488083586870677524",
              "last_message_id": "1488139580086681610",
              "name": "leyte-storm-watch",
              "nsfw": false,
              "parent_id": "1488068134190448842",
              "permissions": "9007199254740991",
              "position": 6,
              "rate_limit_per_user": 0,
              "topic": null,
              "type": 0
            },
            "channel_id": "1488083586870677524",
            "context": 0,
            "data": {
              "id": "1488103531771596931",
              "name": "get_storm_watch",
              "options": [
                {
                  "name": "location",
                  "type": 3,
                  "value": "test"
                }
              ],
              "type": 1
            },
            "entitlement_sku_ids": [],
            "entitlements": [],
            "guild": {
              "features": [],
              "id": "1488068132198420564",
              "locale": "en-US"
            },
            "guild_id": "1488068132198420564",
            "guild_locale": "en-US",
            "id": "1488307226669219880",
            "locale": "en-US",
            "member": {
              "avatar": null,
              "banner": null,
              "communication_disabled_until": null,
              "deaf": false,
              "flags": 0,
              "joined_at": "2026-03-30T06:51:30.063000+00:00",
              "mute": false,
              "nick": null,
              "pending": false,
              "permissions": "9007199254740991",
              "premium_since": null,
              "roles": [],
              "unusual_dm_activity_until": null,
              "user": {
                "avatar": "bb6ed7d43d509fe7c95a591cad61f4fa",
                "avatar_decoration_data": {
                  "asset": "a_024b0379f56da1e61a0480bf7e1080ca",
                  "expires_at": null,
                  "sku_id": "1481384635886862397"
                },
                "clan": null,
                "collectibles": {
                  "nameplate": {
                    "asset": "nameplates/spider-man/1481388758455550114/",
                    "expires_at": null,
                    "label": "A glowing red and black spider resting on blue-white spider webs",
                    "palette": "crimson",
                    "sku_id": "1481388758455550114"
                  }
                },
                "discriminator": "0",
                "display_name_styles": null,
                "global_name": "sanashii",
                "id": "550449378205106196",
                "primary_guild": null,
                "public_flags": 64,
                "username": "sanashii1"
              }
            },
            "token": "aW50ZXJhY3Rpb246MTQ4ODMwNzIyNjY2OTIxOTg4MDpWbU5lZzNaWUxRazRaSGxSVWF3MFR5aXhrN3JOWVdGWE1PN0cxRG9QYlk2YzVTOGFFSk1WV2pzVFRSZUx4eG5uV1AzVkNRV0szaThaMXowb002eEYyblBaM3NjS3htVTZJa1MydVp3VDcyTGtzTWZSeUpvb2NnRDhaN1hQNThtMQ",
            "type": 2,
            "version": 1
          },
          "webhookUrl": "https://n8n.srv1541552.hstgr.cloud/webhook/okarun-interactions",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo": {
    "owner": "sanashii",
    "name": "n8n-backups"
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-30T10:09:43.085Z",
      "createdAt": "2026-03-30T10:09:43.085Z",
      "role": "workflow:owner",
      "workflowId": "yGILp5JFqCO2FWU6ADcvn",
      "projectId": "9C1xKZgwyby4oLqC"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-30T22:42:04.325Z",
  "versionId": "45f1f86b-dba4-4d70-b594-61da3d657afc"
}