zuAPTnSJVHNK5UX1.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Apple PH MacBook Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is M5 Pro Available to Buy?": {
      "main": [
        [
          {
            "node": "Discord — Apple PH Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Apple PH MacBook Page": {
      "main": [
        [
          {
            "node": "Is M5 Pro Available to Buy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-04T09:31:04.712Z",
  "id": "zuAPTnSJVHNK5UX1",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Okarun — MacBook M5 Pro Apple PH Scout",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9,18 * * *"
            }
          ]
        }
      },
      "id": "02f6e901-853b-4dd8-b6ce-8cdba1fcb6af",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        176
      ]
    },
    {
      "parameters": {
        "url": "https://www.apple.com/ph/shop/buy-mac/macbook-pro",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "11053a63-8934-4960-a330-0c6d52313e2c",
      "name": "Fetch Apple PH MacBook Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -176,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-no-unavailable",
              "leftValue": "={{ $json.data }}",
              "rightValue": "Currently Unavailable",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "cond-add-to-bag",
              "leftValue": "={{ $json.data }}",
              "rightValue": "Add to Bag",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "adb2feee-557f-4dd8-99be-d6554061ce44",
      "name": "Is M5 Pro Available to Buy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        64,
        176
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1488068132198420564",
          "mode": "list",
          "cachedResultName": "bau & thea",
          "cachedResultUrl": "https://discord.com/channels/1488068132198420564"
        },
        "channelId": {
          "__rl": true,
          "value": "1489919910678364190",
          "mode": "list",
          "cachedResultName": "macbook-pro-notification",
          "cachedResultUrl": "https://discord.com/channels/1488068132198420564/1489919910678364190"
        },
        "content": "OI!! 👁️ I've been staking out the Apple PH store and —\n\n**SOMETHING IS DIFFERENT ON THE PAGE!!**\n\nThe MacBook Pro listing might be showing the **M5 Pro** now!!\n🔗 https://www.apple.com/ph/shop/buy-mac/macbook-pro\n\n...I stood watch so you wouldn't have to. Now GO. Before it's gone!! 🏃💨",
        "options": {}
      },
      "id": "2cf67a36-a2f5-4928-b682-033e652b8bac",
      "name": "Discord — Apple PH Alert",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        320,
        96
      ],
      "webhookId": "aad0d6c5-5366-4899-be62-c307bf58bb59",
      "credentials": {
        "discordBotApi": {
          "id": "QXXgqWlMdAoLfJM5",
          "name": "Okarun Discord Bot"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "sanashii",
    "name": "n8n-backups"
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-04-04T09:31:04.714Z",
      "createdAt": "2026-04-04T09:31:04.714Z",
      "role": "workflow:owner",
      "workflowId": "zuAPTnSJVHNK5UX1",
      "projectId": "9C1xKZgwyby4oLqC"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-04T13:11:18.083Z",
  "versionId": "9aecedf1-7420-487c-bb7e-ec3d6c3401d0"
}